<div id="partpro150_xP">
  <div class="section sec1 font_c_w">
    <div class="container">
      <div class="intro">
        <img
          class="sec01_printer"
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro150_xP/sec01_partpro150_xP.png"
          alt="partpro150"
        />
        <!-- title -->
        <div
          class="title"
          [innerHTML]="'partpro150.sec1.name' | translate"
        ></div>
        <div
          class="title2"
          [innerHTML]="'partpro150.sec1.title' | translate"
        ></div>
        <!-- btn "how to buy" link to "contact us" -->
        <a
          class="btn-download"
          [href]="'/' + langCode + '/contact-us'"
          target="_blank"
        >
          {{ "btn.howToBuy" | translate }}
        </a>
      </div>
    </div>
  </div>

  <div class="section sec2 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'partpro150.sec2.title' | translate"
        ></div>
        <div
          class="desc"
          [innerHTML]="'partpro150.sec2.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec3 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'partpro150.sec3.title' | translate"
        ></div>
        <div
          class="desc"
          [innerHTML]="'partpro150.sec3.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec4 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'partpro150.sec4.title' | translate"
        ></div>
        <div
          class="desc"
          [innerHTML]="'partpro150.sec4.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec5 font_c_b">
    <div class="container">
      <img
        class="sec05_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro150_xP/sec05_img.png"
        alt="partpro150"
      />
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'partpro150.sec5.title' | translate"
        ></div>
        <div
          class="desc"
          [innerHTML]="'partpro150.sec5.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec6 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'partpro150.sec6.title' | translate"
        ></div>
        <div
          class="desc"
          [innerHTML]="'partpro150.sec6.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec7 font_c_w">
    <div class="container">
      <!-- Product Intro -->
      <div class="intro">
        <div class="intro_text">
          <!-- @Html(Messages.get("partpro300.sec4.title")) -->
          <p
            class="i_title"
            [innerHTML]="'partpro150.sec7.product.intro.dec1.title' | translate"
          ></p>
          <p
            class="i_dec"
            [innerHTML]="'partpro150.sec7.product.intro.dec1.name' | translate"
          ></p>
          <p class="line"></p>
          <p
            class="i_title"
            [innerHTML]="'partpro150.sec7.product.intro.dec2.title' | translate"
          ></p>
          <p
            class="i_dec"
            [innerHTML]="'partpro150.sec7.product.intro.dec2.name' | translate"
          ></p>
          <p class="line"></p>
          <p
            class="i_title"
            [innerHTML]="'partpro150.sec7.product.intro.dec3.title' | translate"
          ></p>
          <p
            class="i_dec"
            [innerHTML]="'partpro150.sec7.product.intro.dec3.name' | translate"
          ></p>
          <p class="line"></p>
          <p
            class="i_title"
            [innerHTML]="'partpro150.sec7.product.intro.dec4.title' | translate"
          ></p>
          <p
            class="i_dec"
            [innerHTML]="'partpro150.sec7.product.intro.dec4.name' | translate"
          ></p>
        </div>

        <!-- Download btn  START *********************-->
        <a
          *ngIf="langCode == 'en-US' || langCode == 'en-GB'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SL/PartPro150%20xP/PartPro150%20xP_spec_en.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'fr-FR'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SL/PartPro150%20xP/PartPro150%20xP_spec_fr.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'de-DE'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SL/PartPro150%20xP/PartPro150%20xP_spec_de.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'ja-JP'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SL/PartPro150%20xP/PartPro150%20xP_spec_jp.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'zh-TW'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SL/PartPro150%20xP/PartPro150%20xP_spec_tw.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'zh-CN'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SL/PartPro150%20xP/PartPro150%20xP_spec_cn.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <!-- Download btn  END *********************-->
      </div>

      <!-- Product img -->
      <div class="product_img">
        <img
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro150_xP/sec07_partpro150_xP.png"
          alt=""
        />
        <h4
          class="product_name"
          [innerHTML]="'partpro150.sec7.product.name' | translate"
        ></h4>
        <div class="btn_group">
          <!-- BTN Software hide 20190914 -->
          <!-- <a class="moreBtn-red btn-right" href="#">
                            @Messages.get("btn.software")
                        </a> -->

          <!-- video button START *********-->
          <a
            *ngIf="langCode == 'en-US'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/en-US/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'en-GB'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/en-GB/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'fr-FR'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/fr-FR/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'de-DE'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/de-DE/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'ja-JP'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/ja-JP/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'zh-TW'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/zh-TW/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <!-- video button END *********-->
        </div>
      </div>
    </div>
  </div>
</div>
