<div class="page-static-content newsAndEvents">
  <div class="index-container">
    <div class="top-banner">
      <div class="w_1100">
        <div class="w_550 font_c_w">
          <h1 class="primary-title">
            {{ "news.topArea.slogan" | translate }}
          </h1>
          <p class="desc">
            {{ "news.topArea.desc" | translate }}
          </p>
        </div>
      </div>
    </div>

    <!-- Top Tab -->
    <div class="tabNav">
      <div
        class="news is-pointer"
        [ngClass]="{ active: tab === 'news' }"
        [routerLink]="'/' + langCode + '/news'"
        [queryParams]="{ tab: 'news' }"
        (click)="onChangeTab('news')"
      >
        {{ "news.tabName.news" | translate }}
      </div>
      <div
        class="event is-pointer"
        [ngClass]="{ active: tab === 'events' }"
        [routerLink]="'/' + langCode + '/news'"
        [queryParams]="{ tab: 'events' }"
        (click)="onChangeTab('events')"
      >
        {{ "news.tabName.events" | translate }}
      </div>
    </div>

    <!-- Loading -->
    <div *ngIf="!eventsList">
      <div class="loading-data"></div>
      <p class="text">Loading...</p>
    </div>

    <!-- News List -->
    <div
      class="content-lists news-content-lists page1100"
      *ngIf="tab === 'news'"
    >
      <div class="item" *ngFor="let item of showArticleArr">
        <a [href]="'/' + langCode + '/news/' + item.id">
          <h2 class="desc-title">{{ item.title }}</h2>
        </a>
        <p class="desc">
          <span [innerHTML]="item.content | safeHtml"></span>
          <a
            class="moreBtn is-pointer"
            [routerLink]="'/' + langCode + '/news/' + item.id"
          >
            {{ "btn.learnMore" | translate }}
          </a>
        </p>
        <div class="date">{{ item.online_date }}</div>
      </div>
    </div>

    <!-- Events List -->
    <div
      class="content-lists event-content-lists page1100"
      *ngIf="tab === 'events'"
    >
      <div class="item clearfix item-event" *ngFor="let item of showArticleArr">
        <figure class="float-left fig-events">
          <div class="dispOnlineDate">
            <p class="bold">
              {{ item.online_date | slice: 0:4 }}
            </p>
            <p class="red">
              {{ item.online_date.replace(",", " ") | slice: 4:6 }}
            </p>
            <p class="medium">
              {{ item.online_date | slice: 7:12 }}
            </p>
          </div>
        </figure>
        <div class="infor infor-events">
          <h2 class="desc-title desc-title-events">
            {{ item.title }}
          </h2>
          <p class="desc desc-events">
            <span>
              {{ item.second_title }}
            </span>
          </p>
          <a
            [href]="item.transmit_url"
            target="_blank"
            class="moreBtn moreBtn-events"
          >
            {{ "btn.learnMore" | translate }}
          </a>
        </div>
      </div>
    </div>

    <!-- News pagination -->
    <div class="text-center">
      <nav>
        <ul
          class="pagination"
          id="pageid"
          *ngFor="let item of pageTotalArr; let idx = index"
        >
          <!-- Preview -->
          <li
            class="page-item disabled"
            *ngIf="hasPage === false && idx + 1 === 1"
            (click)="switchPage(currentPage - 1)"
          >
            <a class="page-link">
              <<
            </a>
          </li>
          <li
            class="page-item"
            *ngIf="hasPage === true && idx + 1 === 1"
            (click)="switchPage(currentPage - 1)"
          >
            <a class="page-link">
              <<
            </a>
          </li>
          <!-- Numbers -->
          <li class="page-item" [ngClass]="{ active: currentPage === idx + 1 }">
            <a class="page-link" (click)="switchPage(idx + 1)">{{ idx + 1 }}</a>
          </li>

          <!-- Next -->
          <li
            class="page-item disabled"
            *ngIf="hasNext === false && idx + 1 === pageTotalArr.length"
            (click)="switchPage(currentPage + 1)"
          >
            <span class="page-link">>></span>
          </li>
          <li
            class="page-item"
            *ngIf="hasNext === true && idx + 1 === pageTotalArr.length"
            (click)="switchPage(currentPage + 1)"
          >
            <span class="page-link">>></span>
          </li>
        </ul>
      </nav>
    </div>

    <!-- News Content Page -->
    <router-outlet></router-outlet>
  </div>
</div>
