<div id="multicure180">
  <div class="section sec1 font_c_w">
    <div class="container">
      <div class="intro">
        <img
          class="sec01_printer"
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/MultiCure180/mul180_sec1_printer.png"
          alt="MultiCure180"
        />
        <!-- title -->
        <div class="title">
          {{ "multicure180.section1.title-bottom-img" | translate }}
        </div>
        <div class="title2">
          {{ "multicure180.section1.title" | translate }}
        </div>
        <div class="desc">
          {{ "multicure180.section1.desc1" | translate }}
        </div>
        <!-- btn "how to buy" link to "contact us" -->
        <a
          class="btn-download"
          [href]="'/' + langCode + '/contact-us'"
          target="_blank"
          >{{ "btn.howToBuy" | translate }}</a
        >
      </div>
    </div>
  </div>

  <div class="section sec2 font_c_w">
    <div class="container">
      <div class="pro_img">
        <div class="summary_group">
          <div class="preset_group">
            <div class="preset_title">
              <p>{{ "multicure180.section2.preset_title" | translate }}</p>
              <img
                class="icon_down"
                src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/MultiCure180/sec02_down.svg"
                alt="arrow_down"
              />
            </div>
            <div class="preset_des">
              <p>{{ "multicure180.section2.preset_des_01" | translate }}</p>
              <p>{{ "multicure180.section2.preset_des_02" | translate }}</p>
              <p>{{ "multicure180.section2.preset_des_03" | translate }}</p>
              <p>{{ "multicure180.section2.preset_des_04" | translate }}</p>
            </div>
            <img
              class="link_line"
              src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/MultiCure180/sec02_link.svg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="intro">
        <div class="title">
          {{ "multicure180.section2.title" | translate }}
        </div>
        <div class="desc">
          {{ "multicure180.section2.desc1" | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="section sec3 font_c_w">
    <div class="container">
      <!-- info -->
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'multicure180.section3.title' | translate"
        ></div>
        <div class="desc">
          <div class="set set1">
            <div class="title_link">
              <i class="fa fa-minus-square"></i>
              <span class="set_title">{{
                "multicure180.section3.desc1" | translate
              }}</span>
            </div>
            <div class="content" id="content1">
              <p>{{ "multicure180.section3.desc2" | translate }}</p>
              <img
                class="sec_img"
                src="https://xyzwebsite.blob.core.windows.net/b2b-landing/MultiCure180_2B_Img_SEC02_UV_lg.png"
              />
            </div>
          </div>

          <div class="set set2">
            <div class="title_link">
              <i class="fa fa-minus-square"></i>
              <span class="set_title">
                {{ "multicure180.section3.desc3" | translate }}
              </span>
            </div>
            <div class="content">
              <p>{{ "multicure180.section3.desc4" | translate }}</p>
              <img
                class="sec_img sec_img_02"
                src="https://xyzwebsite.blob.core.windows.net/b2b-landing/MultiCure180_2B_Img_SEC02_Size_sm.png"
              />
            </div>
          </div>

          <div class="set set3">
            <div class="title_link">
              <i class="fa fa-minus-square"></i>
              <span class="set_title">
                {{ "multicure180.section3.desc5" | translate }}
              </span>
            </div>
            <div class="content">
              <p>{{ "multicure180.section3.desc6" | translate }}</p>
            </div>
          </div>

          <div class="set set4">
            <div class="title_link">
              <i class="fa fa-minus-square"></i>
              <span class="set_title">
                {{ "multicure180.section3.desc7" | translate }}
              </span>
            </div>
            <div class="content">
              <p>{{ "multicure180.section3.desc8" | translate }}</p>
            </div>
          </div>

          <div class="set set5">
            <div class="title_link">
              <i class="fa fa-minus-square"></i>
              <span class="set_title">
                {{ "multicure180.section3.desc9" | translate }}
              </span>
            </div>
            <div class="content">
              <p>{{ "multicure180.section3.desc10" | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- printer img -->
      <div class="image-primary">
        <!-- red point -->
        <div class="pulse pulse1 d-block"></div>
        <div class="pulse pulse2 d-block"></div>
        <div class="pulse pulse3 d-block"></div>
        <div class="pulse pulse4 d-block"></div>
        <div class="pulse pulse5 d-block"></div>
      </div>
    </div>
  </div>

  <div class="section sec4 font_c_w">
    <div class="container">
      <div class="pro_img"></div>
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'multicure180.section4.title' | translate"
        ></div>
        <div
          class="desc"
          [innerHTML]="'multicure180.section4.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec5 font_c_b">
    <div class="container">
      <div class="pro_img"></div>
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'multicure180.section5.title' | translate"
        ></div>
        <div
          class="desc"
          [innerHTML]="'multicure180.section5.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec6 font_c_w">
    <div class="container">
      <!-- Product Intro -->
      <div class="intro">
        <div class="intro_text">
          <!--[innerHTML]="'partpro300.sec4.title' | translate" -->
          <p
            class="i_title"
            [innerHTML]="
              'multicure180.sec6.product.intro.dec1.title' | translate
            "
          ></p>
          <p
            class="i_dec"
            [innerHTML]="
              'multicure180.sec6.product.intro.dec1.name' | translate
            "
          ></p>
          <p class="line"></p>
          <p
            class="i_title"
            [innerHTML]="
              'multicure180.sec6.product.intro.dec2.title' | translate
            "
          ></p>
          <p
            class="i_dec"
            [innerHTML]="
              'multicure180.sec6.product.intro.dec2.name' | translate
            "
          ></p>
          <p class="line"></p>
          <p
            class="i_title"
            [innerHTML]="
              'multicure180.sec6.product.intro.dec3.title' | translate
            "
          ></p>
          <p
            class="i_dec"
            [innerHTML]="
              'multicure180.sec6.product.intro.dec3.name' | translate
            "
          ></p>
        </div>

        <!-- Download btn  START *********************-->
        <a
          *ngIf="langCode == 'en-US' || langCode == 'en-GB'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/UV%20Curing/MultiCure180/MultiCure180_spec_en.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'fr-FR'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/UV%20Curing/MultiCure180/MultiCure180_spec_fr.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'de-DE'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/UV%20Curing/MultiCure180/MultiCure180_spec_de.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'ja-JP'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/UV%20Curing/MultiCure180/MultiCure180_spec_jp.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'zh-TW'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/UV%20Curing/MultiCure180/MultiCure180_spec_tw.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <!-- Download btn  END *********************-->
      </div>

      <!-- Product img -->
      <div class="product_img">
        <img
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/MultiCure180/mul180_sec6_printer.png"
          alt=""
        />
        <h4
          class="product_name"
          [innerHTML]="'multicure180.sec6.product.name' | translate"
        ></h4>
        <div class="btn_group">
          <!-- BTN Software hide 20190914 -->
          <a class="moreBtn-red btn-right" href="#">
            {{ "btn.software" | translate }}
          </a>

          <!-- video button START *********-->
          <a
            *ngIf="langCode == 'en-US'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/en-US/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'en-GB'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/en-GB/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'fr-FR'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/fr-FR/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'de-DE'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/de-DE/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'ja-JP'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/ja-JP/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'ko-KR'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/ja-JP/EndUser/Help/tutorial/PartPro150%20xP"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <!-- video button END ********* -->
        </div>
      </div>
    </div>
  </div>
</div>
