@import "variables";
@import "breakpoint";

// Partpro120
#partpro120_xP {
  margin: 0 auto;
  margin-top: -120px;
  line-height: 1.5;
  overflow: hidden;
  @include b768 {
    width: 100%;
    margin-top: 0;
  }

  // all section style
  .section {
    min-height: 500px;
    padding: 170px 0 170px 0;
    @include b1279 {
      padding: 145px 50px 160px 50px;
    }
    @include b768 {
      min-height: 500px;
      display: flex;
      align-items: flex-end;
      padding: 145px 20px 70px 20px;
    }
    > .container {
      width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      @include b1279 {
        width: 100%;
      }
      @include b768 {
        text-align: center;
      }
    }
    .intro {
      width: 50%;
      @include b768 {
        width: 100%;
      }
      .title {
        font-size: 36px;
        padding-bottom: 32px;
        font-weight: bold;
        @include b768 {
          font-size: 28px;
        }
      }
      .title_bold {
        font-size: 36px;
        padding-bottom: 32px;
        line-height: 1.2;
        font-weight: 600;
        @include b768 {
          font-size: 28px;
        }
      }
      .desc {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        @include b768 {
          font-size: 14px;
          text-align: center;
        }
      }
      .desc_KR {
        margin: auto;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
      }
    }
  }

  .btn-download {
    display: inline-block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 52px;
    line-height: 1.5;
    color: #fff;
    background-color: #cf1e1e;
  }

  .sec1 {
    height: 700px;
    overflow: hidden;
    position: relative;
    padding: 0;
    @include b1279 {
      height: 620px;
    }
    @include b768 {
      width: 100%;
      height: auto;
      padding: 50px 20px 60px 20px;
      background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro120_xP/mobile/sec01_bg_sm.jpg)
        center/cover;
    }
    // printer img
    .sec01_printer {
      width: 200px;
      margin-bottom: 25px;
      display: none;
      @include b768 {
        width: 200px;
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
      }
    }
    // video block
    .video_bg {
      width: 100%;
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      @include b1279 {
        width: 150%;
      }
      @include b768 {
        display: none;
      }
      .video_block {
        width: 100%;
      }
    }

    // text content
    .container {
      width: 50%;
      position: absolute;
      z-index: 3;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      padding: 10px;
      display: flex;
      align-items: center;
      @include b1279 {
        width: 90%;
      }
      @include b768 {
        width: 100%;
        padding: 0;
        position: unset;
      }
      .intro {
        width: 100%;
        color: #fff;
        margin-top: 100px;
        text-align: center !important;
        @include b768 {
          margin-top: 0;
        }
      }
      .title {
        font-size: 28px;
        font-weight: 200;
        padding-bottom: 20px;
      }
      .desc {
        margin-bottom: 10px;
      }
    }
  }

  .sec2 {
    height: 500px;
    position: relative;
    background: #000;
    @include b768 {
      min-height: 550px;
    }
    .container {
      justify-content: flex-start;
      @include b768 {
        flex-wrap: wrap;
      }
      .intro {
        width: 40%;
        position: relative;
        z-index: 1;
        @include b768 {
          width: 100%;
        }
      }
    }
    .sec2_video {
      width: 1130px;
      height: 500px;
      position: absolute;
      left: 50%;
      transform: translateX(-35%);
      top: 0;
      @include b1279 {
        width: 100%;
        height: auto;
      }
      @include b768 {
        width: 155%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .sec3 {
    min-height: 500px;
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro120_xP/sec03_bg_lg.jpg)
      center / cover;
    @include b768 {
      min-height: 550px;
      align-items: flex-end;
      padding: 300px 20px 40px 20px;
      background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro120_xP/mobile/sec03_bg_sm.jpg)
        center / cover;
    }
    .container {
      justify-content: flex-end;
      text-align: left;
      @include b768 {
        text-align: center;
        flex-wrap: wrap;
      }
      .intro {
        width: 50%;
        @include b768 {
          width: 100%;
          padding: 0;
        }
      }
    }
  }

  .sec4 {
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro120_xP/sec04_bg_lg.jpg)
      center / cover;
    padding: 50px;
    @include b768 {
      padding: 320px 20px 55px 20px;
      background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro120_xP/mobile/sec04_bg_sm.jpg)
        center / cover;
      align-items: flex-start;
    }
    .container {
      justify-content: flex-start;
      @include b768 {
        flex-wrap: wrap;
      }
      .intro {
        width: 45%;
        @include b768 {
          width: 100%;
        }
      }
    }

    .sec04_img {
      display: inline-block;
      width: 380px;
      margin-top: 20px;
      @include b1279 {
        width: 281px;
      }
      @include b768 {
        width: 100%;
      }
    }
  }

  .sec5 {
    padding: 0;
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro120_xP/sec05_bg_lg.jpg)
      center / cover;
    @include b768 {
      width: 100%;
      height: auto;
      align-items: flex-start;
    }
    .container {
      width: 100%;
      @include b768 {
        flex-wrap: wrap;
        justify-content: center;
      }
      .intro {
        width: 50%;
        max-width: 750px;
        padding: 0 50px;
        @include b768 {
          width: 100%;
          padding: 50px 0;
        }
      }
    }

    .slide_img {
      width: 960px;
      height: 500px;
      position: absolute;
      z-index: 2;
      right: 0;
      background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro120_xP/sec05_img.png)
        right/contain;
      @include b768 {
        width: 100%;
        height: px2vw(250, 320);
        background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro120_xP/mobile/sec05_bg_sm_01.png)
          right/contain no-repeat;
      }
    }
    .sec5_slide {
      position: relative;
      z-index: 2;
      overflow: hidden;
      width: 50%;
      height: 500px;
      @include b768 {
        width: 100%;
        height: px2vw(250, 320);
      }
    }
    .step_box {
      position: absolute;
      z-index: 1;
      top: 215px;
      right: 435px;
      @include b768 {
        z-index: 1;
        // top: 126px;
        // right: 232px;
        top: px2vw(126, 320);
        right: px2vw(232, 320);
      }
      .step_img {
        position: absolute;
        left: 250px;
        width: 244px;
        height: 139px;
        opacity: 0.3;
        transition: all 0.3s cubic-bezier(1, 0.39, 0.01, 0.97);
        @include b768 {
          // width: 140px;
          // height: 80px;
          width: px2vw(140, 320);
          height: px2vw(80, 320);
        }
      }
      .step_img_Active {
        left: 0;
        opacity: 1;
        transition: all 0.45s cubic-bezier(1, 0.39, 0.01, 0.97);
      }
    }
  }

  .sec6 {
    display: flex;
    align-items: center;
    // min-height: 700px;
    padding: 100px 35px;
    width: 100%;
    background: -webkit-linear-gradient(#141414, #828282);
    background: -o-linear-gradient(#141414, #828282);
    background: -moz-linear-gradient(#141414, #828282);
    background: linear-gradient(#141414, #828282);
    .container {
      justify-content: space-between;
      align-items: stretch;
      @include b768 {
        flex-wrap: wrap;
      }
    }
    .line {
      display: inline-block;
      width: 248px;
      height: 1px;
      background-color: #fff;
    }
    .intro,
    .product_img {
      width: 50%;
      @include b768 {
        width: 100%;
      }
    }
    .moreBtn-red {
      background-color: #cf1e1e;
      font-size: 1rem;
      max-width: 450px;
      font-weight: bold;
      padding: 10px 25px;
      text-align: center;
      @include b768 {
        max-width: initial;
        min-width: 130px;
        margin-bottom: 20px;
      }
    }
    .moreBtn-black {
      display: inline-block;
      background-color: #141414;
      max-width: 200px;
      min-width: 130px;
      font-size: 1rem;
      font-weight: bold;
      padding: 10px 25px;
      text-align: center;
      @include b768 {
        max-width: initial;
        min-width: 130px;
      }
    }
    .intro {
      color: white;
      text-align: center;
      line-height: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include b768 {
        order: 1;
      }
      .intro_text {
        width: 100%;
        // transform: translateY(10%);
      }
      .i_title {
        font-size: 16px;
        font-weight: 300;
      }
      .i_dec {
        font-size: 24px;
        font-weight: bold;
      }
      .btn_bottom {
        align-self: flex-end;
        padding: 10px 25px;
        line-height: initial;
        margin-top: 36px;
      }
    }
    .product_img {
      text-align: center;
      color: #fff;
      > img {
        max-width: 100%;
        width: 280px;
        @include b768 {
          width: 200px;
        }
      }
      .product_name {
        font-size: 28px;
        margin-top: 36px;
        // margin-left: 80px;
      }
      .btn_group {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        @include b768 {
          flex-direction: column;
          align-items: center;
          margin-bottom: 25px;
        }
      }
      .btn-right {
        margin-right: 36px;
        @include b768 {
          margin-right: 0;
        }
      }
    }
  }
}
