<div class="page-static-content contact">
  <!-- Content Left -->
  <div class="top-banner v-align-center">
    <div class="w_1100">
      <div class="w_550">
        <h1 class="primary-title">
          {{ "contact.topArea.slogan" | translate }}
        </h1>
      </div>
    </div>
  </div>

  <div class="main-content page1100">
    <!-- Content right Start-->
    <div
      class="col-6 mobile-col-12 element-inlineb v-align-top elem-padding-normal"
    >
      <div class="contact-us">
        <h2 class="desc-title">{{ "contact.location.title" | translate }}</h2>
        <div class="location">
          <p
            class="local-name"
            *ngIf="
              langCode != 'en-US' &&
              langCode != 'en-GB' &&
              langCode != 'ja-JP' &&
              langCode != 'fr-FR' &&
              langCode != 'zh-TW' &&
              langCode != 'zh-CN' &&
              langCode != 'ko-KR' &&
              langCode != 'de-DE'
            "
          >
            North America
          </p>
          <div class="info" *ngIf="langCode != 'ja-JP'">
            <p class="contact_mail">{{ "contact.email" | translate }}</p>
          </div>
          <div class="contact-info" *ngIf="langCode == 'ja-JP'">
            <p>
              <span>{{ "contact.info.desc1" | translate }}</span
              >{{ "contact.info.desc2" | translate }}
            </p>
            <br />
            <a
              href="https://support.xyzfamily.com/ja-JP/Help/customerService"
              >{{ "contact.info.desc3" | translate }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Content right End-->

    <!-- Reactive Forms start -->
    <div
      class="decoration-border col-6 element-inlineb v-align-top elem-padding-normal"
    >
      <div class="customer-support">
        <h2 class="desc-title">{{ "contact.form.title" | translate }}</h2>
        <form
          class="contact-form"
          [formGroup]="HelloForm"
          (ngSubmit)="doSubmit(tForm)"
          #tForm="ngForm"
        >
          <!-- {{ HelloForm.value | json }} -->

          <!-- Inquiry Select -->
          <div class="form-select">
            <select formControlName="uIntentionSelect" id="intention">
              <option value="" disabled="disabled">
                {{ "contact.form.inquirySelect" | translate }}
              </option>
              <option
                *ngFor="let item of intentionList"
                [ngValue]="item.text | translate"
              >
                {{ item.text | translate }}
              </option>
            </select>
          </div>

          <!-- Model Select -->
          <label for="model">
            <p>{{ "contact.form.model" | translate }}</p>
            <div class="form-select">
              <select formControlName="umodelSelect" id="model">
                <option value="" disabled="disabled">
                  {{ "contact.form.modelSelect" | translate }}
                </option>
                <option
                  *ngFor="let item of modelList"
                  [ngValue]="item.text | translate"
                >
                  {{ item.text | translate }}
                </option>
              </select>
            </div>
          </label>

          <!-- name* input -->
          <label for="name">
            <p>{{ "contact.form.name" | translate }}</p>
            <input name="uName" type="text" id="name" formControlName="uName" />
            <div class="ErrorText" *ngIf="HelloForm.get('uName').invalid">
              <span *ngIf="HelloForm.get('uName').touched">
                {{ "contact.form.name.error" | translate }}
              </span>
            </div>
          </label>

          <!-- company input -->
          <label for="company">
            <p>{{ "contact.form.company" | translate }}</p>
            <input
              name="uCompany"
              type="text"
              id="company"
              formControlName="uCompany"
            />
          </label>

          <!-- Country Select -->
          <label for="country">
            <p>{{ "contact.form.country" | translate }}</p>
            <div class="form-select">
              <select
                name="uCountrySelect"
                id="country"
                formControlName="uCountrySelect"
              >
                <option value="" disabled="disabled">
                  {{ "contact.form.countrySelect" | translate }}
                </option>
                <option
                  *ngFor="let item of countryList"
                  [ngValue]="item.name | translate"
                >
                  {{ item.name | translate }}
                </option>
              </select>
            </div>
          </label>

          <!-- email input -->
          <label for="email">
            <p>{{ "contact.form.email" | translate }}</p>
            <input
              name="uEmail"
              type="email"
              id="email"
              formControlName="uemail"
            />
            <div class="ErrorText" *ngIf="HelloForm.get('uemail').invalid">
              <span *ngIf="HelloForm.get('uemail').errors?.email">
                {{ "contact.form.email.error.invalid" | translate }}
              </span>
              <span
                *ngIf="
                  HelloForm.get('uemail').errors?.required &&
                  HelloForm.get('uemail').touched
                "
              >
                {{ "contact.form.email.error.required" | translate }}
              </span>
            </div>
          </label>

          <!-- phone input -->
          <label for="phone">
            <p>{{ "contact.form.phone" | translate }}</p>
            <input
              name="uPhone"
              type="tel"
              id="phone"
              formControlName="uPhone"
            />
            <div class="ErrorText" *ngIf="HelloForm.get('uPhone').invalid">
              <span *ngIf="HelloForm.get('uPhone').errors?.pattern">
                {{ "contact.form.phone.error.invalid" | translate }}
              </span>
              <span
                *ngIf="
                  HelloForm.get('uPhone').errors?.required &&
                  HelloForm.get('uPhone').touched
                "
              >
                {{ "contact.form.phone.error.required" | translate }}
              </span>
            </div>
          </label>

          <!-- message textarea -->
          <label for="message">
            <p>{{ "contact.form.message" | translate }}</p>
            <textarea
              name="uMessage"
              id="message"
              cols="30"
              rows="10"
              formControlName="message"
            ></textarea>
            <div class="ErrorText" *ngIf="HelloForm.get('message').invalid">
              <span
                *ngIf="
                  HelloForm.get('message').errors?.required &&
                  HelloForm.get('message').touched
                "
              >
                {{ "contact.form.message.error.required" | translate }}
              </span>
            </div>
          </label>

          <!-- submit button -->
          <button
            class="submitBtn"
            type="submit"
            [disabled]="HelloForm.invalid"
          >
            {{ "contact.form.submit" | translate }}
          </button>
        </form>
      </div>
    </div>
    <!-- Reactive Forms End -->
  </div>
</div>
