@import "variables";
@import "breakpoint";

//EeezCure180
#eeezCure180 {
  margin: 0 auto;
  margin-top: -120px;
  line-height: 1.5;
  @include b768 {
    margin-top: 0;
  }

  // pluse red point animation
  @keyframes pulse {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(212, 90, 90, 0);
    }
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(212, 90, 90, 0);
    }
  }

  // all section style
  .section {
    min-height: 500px;
    padding: 145px 0 160px 0;
    @include b1279 {
      padding: 145px 50px 160px 50px;
    }
    @include b768 {
      min-height: 650px;
      display: flex;
      align-items: flex-end;
      padding: 145px 20px 70px 20px;
    }
    > .container {
      width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      @include b1279 {
        width: 100%;
      }
      @include b768 {
        text-align: center;
      }
    }
    .pro_img {
      display: none;
      @include b768 {
        display: block;
        width: 100%;
      }
    }
    .intro {
      width: 50%;
      @include b768 {
        width: 100%;
      }
      .title {
        font-size: 36px;
        padding-bottom: 32px;
        font-weight: bold;
        @include b768 {
          font-size: 28px;
        }
      }
      .desc {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        text-align: left;
        @include b768 {
          font-size: 14px;
          text-align: center;
        }
      }
      .desc_KR {
        margin: auto;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
      }
    }
  }

  .btn-download {
    display: inline-block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 52px;
    line-height: 1.5;
    color: #fff;
    background-color: #cf1e1e;
  }

  .sec1 {
    padding: 40px 50px 70px 50px;
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro150_xP/sec01_bg_lg.jpg)
      center center / cover;
    @include b768 {
      background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro150_xP/mobile/sec01_bg_sm.jpg)
        center bottom / cover;
      padding: 55px 20px 65px 20px;
    }
    .container {
      line-height: 1.2;
      text-align: center;
      .intro {
        width: 100%;
        margin-top: 100px;
        @include b768 {
          margin-top: 0;
        }
        .title {
          font-size: 28px;
          font-weight: normal;
          padding-bottom: 20px;
          line-height: 1.2;
          font-weight: 200;
        }
        .title2,
        .title3 {
          font-size: 36px;
          // padding-bottom: 32px;
          line-height: 1.2;
          font-weight: 600;
          margin-bottom: 20px;
          @include b768 {
            font-size: 28px;
          }
        }
        .desc,
        .desc1 {
          letter-spacing: 1px;
          max-width: 761px;
          margin: 0 auto;
          font-size: 16px;
          font-weight: 100;
          line-height: 25px;
          text-align: center;
        }
        .desc_EU {
          font-size: 14px;
          font-weight: 300;
          width: 56%;
          margin-left: 23%;
          padding-top: 2px;
          padding-bottom: 20px;
        }
      }
    }
    .sec01_printer {
      width: 190px;
      margin-bottom: 25px;
    }
  }

  .sec2 {
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/EeezCure180_2B_bg_SEC01_lg.jpg)
      center center / cover;
    @include b768 {
      min-height: auto;
      background: #2d2d2d;
      padding: 0;
    }
    .container {
      justify-content: flex-start;
      @include b768 {
        flex-wrap: wrap;
      }
      .pro_img {
        @include b768 {
          padding-bottom: 119%;
          background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/EeezCure180/mobile/eez180_sec2_bg_sm.png)
            center center / cover;
        }
      }
      .intro {
        width: 45%;
        @include b768 {
          width: 100%;
          padding: 0 20px 50px;
        }
      }
    }
  }

  .sec3 {
    min-height: 660px;
    padding: 50px;
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/EeezCure180/eez180_sec3_bg_d.jpg)
      center center / cover;
    @include b768 {
      padding: 20px 20px 100px 20px;
      background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/EeezCure180/mobile/eez180_sec3_bg_m.jpg)
        center center / cover;
    }
    .container {
      justify-content: space-between;
      align-items: flex-start;
      @include b768 {
        flex-wrap: wrap;
      }
      .intro {
        text-align: left;
        @include b768 {
          text-align: center;
        }
        .title {
          @include b768 {
            margin-top: 30px;
          }
        }
      }
      .desc {
        @include b768 {
          text-align: left;
        }
      }
    }
    // printer img
    .image-primary {
      width: 450px;
      height: 460px;
      position: relative;
      background: url("https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/EeezCure180/eez180_sec3_d.png")
        no-repeat center/contain;
      @include b768 {
        width: 100%;
        height: auto;
        padding-bottom: 104%;
      }
      .pulse {
        position: absolute;
        background: url("https://xyzwebsite.blob.core.windows.net/b2b-landing/EeezCure180_2B_img_SEC02_redpoint_lg.png")
          no-repeat center;
        background-size: 30px 30px;
        display: block;
        width: 27px;
        height: 27px;
        border: none;
        border-radius: 50%;
        border: 1px solid #801c1c;
        cursor: pointer;
        box-shadow: 0 0 0 0 rgba(212, 90, 90, 0.7);
        animation: pulse 1.5s infinite;
      }
      .d-block {
        display: block !important;
      }
      .d-none {
        display: none;
      }
      .pulse1 {
        bottom: 69%;
        left: 35%;
      }
      .pulse2 {
        bottom: 50%;
        left: 45%;
      }
      .pulse3 {
        bottom: 39%;
        left: 30%;
      }
      .pulse4 {
        bottom: 19%;
        left: 32%;
      }
    }
    // Options
    .set {
      position: relative;
      width: 100%;
      line-height: 20px;
      margin-bottom: 15px;
      .title_link {
        position: relative;
        padding: 10px 15px;
        color: #555;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          font-weight: 800;
          color: #cf1e1e;
          &.title_link:after {
            width: 100%;
          }
        }
        &:hover + .content {
          display: block;
          transition: all 0.5s linear;
          p {
            padding: 10px 25px;
            margin: 0;
            font-size: 15px;
          }
        }
        &:after {
          display: block;
          content: "";
          position: absolute;
          bottom: -5px;
          width: 0px;
          height: 2px;
          background-color: #232323;
          transition: width 0.25s ease-in;
        }
      }
      .set_title {
        padding-left: 5px;
        font-size: 20px;
        position: relative;
        &:hover {
          color: #801c1c;
          &:after {
            width: 500px;
            @include b768 {
              width: 270px;
            }
          }
        }
      }
      .title_link_active {
        font-weight: 800;
        color: #cf1e1e;
        &.title_link:after {
          width: 100%;
        }
      }
    }
    .content {
      display: none;
      p {
        padding: 10px 25px;
        margin: 0;
        font-size: 15px;
      }
    }
    .sec_img {
      width: 100%;
      margin-left: 10px;
    }
    .sec_img_02 {
      width: 93px;
    }
  }

  .sec4 {
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/EeezCure180_2B_bg_SEC03_lg.jpg)
      center center / cover;
    @include b768 {
      min-height: auto;
      background: #000000;
      padding: 0;
    }
    .container {
      justify-content: flex-start;
      @include b768 {
        flex-wrap: wrap;
      }
      .pro_img {
        @include b768 {
          padding-bottom: 105%;
          background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/EeezCure180/mobile/eez180_sec4_bg_sm.jpg)
            center center / cover;
        }
      }
      .intro {
        width: 45%;
        @include b768 {
          width: 100%;
          padding: 0 20px 50px;
        }
      }
    }
  }

  .sec5 {
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/EeezCure180/eez180_sec5_bg_lg.jpg)
      center center / cover;
    @include b768 {
      min-height: auto;
      background: #c4c4c4;
      padding: 0;
    }
    .container {
      justify-content: flex-end;
      @include b768 {
        flex-wrap: wrap;
        justify-content: center;
      }
      .sec05_img {
        width: 50%;
        margin-right: 15px;
        @include b768 {
          width: 100%;
          margin-right: 0;
          margin-bottom: 50px;
        }
      }
      .pro_img {
        @include b768 {
          padding-bottom: 105%;
          background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/EeezCure180/mobile/eez180_sec5_bg_sm.jpg)
            center center / cover;
        }
      }
      .intro {
        width: 45%;
        @include b768 {
          width: 100%;
          padding: 0 20px 50px;
        }
      }
    }
  }

  .sec6 {
    display: flex;
    align-items: center;
    // min-height: 700px;
    padding: 100px 50px;
    width: 100%;
    background: -webkit-linear-gradient(#141414, #828282);
    background: -o-linear-gradient(#141414, #828282);
    background: -moz-linear-gradient(#141414, #828282);
    background: linear-gradient(#141414, #828282);
    .container {
      justify-content: space-between;
      align-items: stretch;
      @include b768 {
        flex-wrap: wrap;
      }
    }
    .line {
      display: inline-block;
      width: 248px;
      height: 1px;
      background-color: #fff;
    }
    .intro,
    .product_img {
      width: 50%;
      @include b768 {
        width: 100%;
      }
    }
    .moreBtn-red {
      background-color: #cf1e1e;
      font-size: 1rem;
      max-width: 450px;
      font-weight: bold;
      padding: 10px 25px;
      text-align: center;
      @include b768 {
        max-width: initial;
        min-width: 130px;
        margin-bottom: 20px;
      }
    }
    .moreBtn-black {
      display: inline-block;
      background-color: #141414;
      max-width: 200px;
      min-width: 130px;
      font-size: 1rem;
      font-weight: bold;
      padding: 10px 25px;
      text-align: center;
      @include b768 {
        max-width: initial;
        min-width: 130px;
      }
    }
    .intro {
      color: white;
      text-align: center;
      line-height: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include b768 {
        order: 1;
      }
      .intro_text {
        width: 100%;
        // transform: translateY(10%);
      }
      .i_title {
        font-size: 16px;
        font-weight: 300;
      }
      .i_dec {
        font-size: 24px;
        font-weight: bold;
      }
      .btn_bottom {
        align-self: flex-end;
        padding: 10px 25px;
        line-height: initial;
        margin-top: 36px;
      }
    }
    .product_img {
      text-align: center;
      color: #fff;
      > img {
        max-width: 100%;
        width: 490px;
      }
      .product_name {
        font-size: 28px;
        margin-top: 36px;
        // margin-left: 80px;
      }
      .btn_group {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        @include b768 {
          flex-direction: column;
          align-items: center;
          margin-bottom: 25px;
        }
      }
      .btn-right {
        margin-right: 36px;
        @include b768 {
          margin-right: 0;
        }
      }
    }
  }
}
