<div id="print_service">
  <div class="section sec1 font_c_b">
    <div class="container">
      <div class="intro">
        <!-- title -->
        <div
          class="title2"
          [innerHTML]="'softwarePrintService.section1.title' | translate"
        ></div>
        <div
          class="title"
          [innerHTML]="'softwarePrintService.section1.secondTitle' | translate"
        ></div>
        <div
          class="desc"
          [innerHTML]="'softwarePrintService.section1.dec' | translate"
        ></div>
        <!-- btn "how to buy" link to "contact us" -->
        <a
          class="btn-download"
          [routerLink]="'/' + langCode + ' /print_service_form'"
          target="_blank"
          [innerHTML]="'btn.getQuoteForYourParts' | translate"
        >
        </a>
      </div>
    </div>
  </div>

  <div class="section sec2 font_c_b">
    <div
      class="desc"
      [innerHTML]="'softwarePrintService.section2.title' | translate"
    ></div>
    <div
      class="title"
      [innerHTML]="'softwarePrintService.section2.secondTitle' | translate"
    ></div>
    <div class="container">
      <div class="product_des">
        <img
          class="product_img"
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec02_product.png"
          alt="product"
        />
        <div class="des_text">
          <p
            [innerHTML]="'softwarePrintService.section2.dec01' | translate"
          ></p>
          <br />
          <br />
          <p
            [innerHTML]="'softwarePrintService.section2.dec02' | translate"
          ></p>
          <br /><br />
          <p
            [innerHTML]="'softwarePrintService.section2.dec03' | translate"
          ></p>
        </div>
      </div>
      <div class="svg_des">
        <div
          class="svg_title"
          [innerHTML]="'softwarePrintService.section2.svg_title' | translate"
        ></div>
        <div class="svg_group">
          <div class="svg_img_text">
            <div>
              <img
                class="svg_img svg_upload"
                src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec02_svg01.svg"
                alt="cloud"
              />
            </div>
            <p
              class="svg_text"
              [innerHTML]="
                'softwarePrintService.section2.svg_img_des_01' | translate
              "
            ></p>
          </div>
          <div class="svg_arrow"></div>
          <div class="svg_img_text">
            <div>
              <img
                class="svg_img svg_quotation"
                src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec02_svg02.svg"
                alt="cloud"
              />
            </div>
            <p
              class="svg_text"
              [innerHTML]="
                'softwarePrintService.section2.svg_img_des_02' | translate
              "
            ></p>
          </div>
          <div class="svg_arrow"></div>
          <div class="svg_img_text">
            <div>
              <img
                class="svg_img svg_units"
                src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec02_svg03.svg"
                alt="cloud"
              />
            </div>
            <p
              class="svg_text"
              [innerHTML]="
                'softwarePrintService.section2.svg_img_des_03' | translate
              "
            ></p>
          </div>
          <div class="svg_arrow"></div>
          <div class="svg_img_text">
            <div>
              <img
                class="svg_img svg_print"
                src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec02_svg04.svg"
                alt="cloud"
              />
            </div>
            <p
              class="svg_text"
              [innerHTML]="
                'softwarePrintService.section2.svg_img_des_04' | translate
              "
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section sec3 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'softwarePrintService.section3.title' | translate"
        ></div>
        <div
          class="desc_KR"
          [innerHTML]="'softwarePrintService.section3.secondTitle' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec4 font_c_b">
    <div
      class="desc"
      [innerHTML]="'softwarePrintService.section4.title' | translate"
    ></div>
    <div
      class="title"
      [innerHTML]="'softwarePrintService.section4.secondTitle' | translate"
    ></div>
    <div class="container">
      <div class="product_des">
        <img
          class="product_img"
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec04_product.png"
          alt="product"
        />
        <div class="des_text">
          <p
            class="mfg230_text"
            [innerHTML]="'softwarePrintService.section4.des01' | translate"
          ></p>
          <br />
          <p
            class="text-left"
            [innerHTML]="'softwarePrintService.section4.des02' | translate"
          >
            <br />
          </p>

          <div class="text_group text-left">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section4.des03' | translate"
            ></p>
          </div>
          <div class="text_group text-left">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section4.des04' | translate"
            ></p>
          </div>
          <div class="text_group text-left">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section4.des05' | translate"
            ></p>
          </div>
          <div class="text_group text-left">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section4.des06' | translate"
            ></p>
          </div>
          <div class="text_group text-left">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section4.des07' | translate"
            ></p>
          </div>
          <div class="sec_formGroup">
            <div class="form_item lg_show">
              <div
                class="form_title form_bg_gray f_b500"
                [innerHTML]="
                  'softwarePrintService.section4.form_title01' | translate
                "
              ></div>
              <div
                class="form_des form_bg_gray f_b500"
                [innerHTML]="
                  'softwarePrintService.section4.form_des01' | translate
                "
              ></div>
            </div>
            <div class="form_item">
              <div
                class="form_title form_bg_white f_b500"
                [innerHTML]="
                  'softwarePrintService.section4.form_title02' | translate
                "
              ></div>
              <div
                class="form_des form_bg_white"
                [innerHTML]="
                  'softwarePrintService.section4.form_des02' | translate
                "
              ></div>
            </div>
            <div class="form_item">
              <div
                class="form_title form_bg_gray f_b500"
                [innerHTML]="
                  'softwarePrintService.section4.form_title03' | translate
                "
              ></div>
              <div
                class="form_des form_bg_gray"
                [innerHTML]="
                  'softwarePrintService.section4.form_des03' | translate
                "
              ></div>
            </div>
            <div class="form_item">
              <div
                class="form_title form_bg_white f_b500"
                [innerHTML]="
                  'softwarePrintService.section4.form_title04' | translate
                "
              ></div>
              <div
                class="form_des form_bg_white"
                [innerHTML]="
                  'softwarePrintService.section4.form_des04' | translate
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section sec5 font_c_b">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'softwarePrintService.section5.title' | translate"
        ></div>
        <div class="desc_KR">
          {{ "softwarePrintService.section5.secondTitle" | translate }}
          <div class="text_group">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section5.list01' | translate"
            ></p>
          </div>
          <div class="text_group">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section5.list02' | translate"
            ></p>
          </div>
          <div class="text_group">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section5.list03' | translate"
            ></p>
          </div>
          <div class="text_group">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section5.list04' | translate"
            ></p>
          </div>
          <div class="text_group">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section5.list05' | translate"
            ></p>
          </div>
          <div class="text_group">
            <p>・</p>
            <p
              [innerHTML]="'softwarePrintService.section5.list06' | translate"
            ></p>
          </div>
        </div>
      </div>
      <div class="section_img">
        <img
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec05_product.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="section sec6 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'softwarePrintService.section6.title' | translate"
        ></div>
        <div class="img_block">
          <div class="img_group">
            <img
              class="img_low"
              src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec06_svg01.svg"
              alt=""
            />
            <p
              [innerHTML]="'softwarePrintService.section6.item01' | translate"
            ></p>
          </div>
          <div class="img_group">
            <img
              class="img_complex"
              src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec06_svg02.svg"
              alt=""
            />
            <p
              [innerHTML]="'softwarePrintService.section6.item02' | translate"
            ></p>
          </div>
        </div>
        <div class="img_block">
          <div class="img_group">
            <img
              class="img_fast"
              src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec06_svg03.svg"
              alt=""
            />
            <p
              [innerHTML]="'softwarePrintService.section6.item03' | translate"
            ></p>
          </div>
          <div class="img_group">
            <img
              class="img_models"
              src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec06_svg04.svg"
              alt=""
            />
            <p
              [innerHTML]="'softwarePrintService.section6.item04' | translate"
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section sec7 font_c_b">
    <div
      class="title"
      [innerHTML]="'softwarePrintService.section7.title' | translate"
    ></div>
    <div class="container">
      <div class="logo_des">
        <img
          class="logo_img"
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec07_leardon_logo.png"
          alt="logo"
        />
        <div class="des_text">
          <p
            [innerHTML]="'softwarePrintService.section7.logodes' | translate"
          ></p>
          <br /><br />
          <p
            [innerHTML]="
              'softwarePrintService.section7.logoCompany' | translate
            "
          ></p>
          <p
            [innerHTML]="
              'softwarePrintService.section7.logoIndustry' | translate
            "
          ></p>
        </div>
      </div>

      <div class="product_des">
        <div
          class="product_title"
          [innerHTML]="'softwarePrintService.section7.img01_title' | translate"
        ></div>
        <div class="product_group">
          <img
            class="product_img"
            src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec07_img01.jpg"
            alt="machines"
          />
          <p
            class="product_text"
            [innerHTML]="'softwarePrintService.section7.img01_des' | translate"
          ></p>
        </div>
      </div>

      <div class="product_des">
        <div
          class="product_title"
          [innerHTML]="'softwarePrintService.section7.img02_title' | translate"
        ></div>
        <div class="product_group">
          <img
            class="product_img"
            src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/software/print_service/sec07_img02.jpg"
            alt="machines"
          />
          <p
            class="product_text"
            [innerHTML]="'softwarePrintService.section7.img02_des' | translate"
          ></p>
        </div>
      </div>

      <div class="results_des">
        <div
          class="results_title"
          [innerHTML]="'softwarePrintService.section7.img03_title' | translate"
        ></div>
        <p
          class="results_text"
          [innerHTML]="'softwarePrintService.section7.img03_des' | translate"
        ></p>
      </div>
    </div>
    <a
      class="btn-download"
      [routerLink]="'/' + langCode + ' /print_service_form'"
      target="_blank"
      [innerHTML]="'btn.getQuoteForYourParts' | translate"
    >
    </a>
  </div>
</div>
