@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoint";

.page-footer {
  background-color: $color-gray_4646;
  padding: 40px 12px 20px;
  color: #fff;
  .page1100 {
    height: 100%;
  }
  .site-map {
    width: 100%;
    .map-group {
      float: left;
      margin: 0 20px;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
      & > p {
        font-size: $fontsize-m;
        font-weight: 600;
        line-height: 1.5;
        color: #cf1e1e;
        margin-bottom: 10px;
      }
      .map-item {
        font-size: $fontsize-base;
        line-height: 32px;
      }
    }
  }
  .bottom-wrap {
    width: 100%;
    padding-top: 5%;
    .foot_logo {
      width: 44%;
      a {
        width: 60px;
        height: 35px;
        display: block;
        img {
          width: 100%;
        }
      }
      .slogan {
        font-size: 16px;
        line-height: 32px;
        font-weight: 600;
        margin-top: 5px;
      }
    }
    .company {
      max-width: 798px;
      width: 55%;
      text-align: right;
      li {
        display: inline-block;
        color: $color-gray_8282;
        font-size: 12px;
        line-height: 18px;
        a {
          position: relative;
          border-bottom: 1px solid $color-gray_8282;
          &:nth-of-type(1) {
            margin-right: 10px;
            &:after {
              content: "";
              display: block;
              border-right: 1px solid $color-gray_8282;
              position: absolute;
              right: -8px;
              top: 3px;
              height: 12px;
            }
          }
        }
      }
    }
  }
  @include mediaQueries(mobile) {
    height: auto;
    padding: 30px 30px 45px;
    .site-map {
      width: 100%;
      .map-group {
        width: 100%;
        float: none;
        margin: 0;
        margin-bottom: 20px;
        & > p {
          margin-bottom: 0;
        }
        .map-item {
          text-indent: 15px;
        }
      }
    }
    .bottom-wrap {
      position: relative;
      .foot_logo {
        width: 100%;
        display: block;
        margin-top: 50px;
        margin-bottom: 20px;
      }
      .company {
        max-width: 100%;
        width: 100%;
        text-align: center;
      }
    }
  }
}
