<footer class="page-footer">
  <div class="page1100">
    <ul class="site-map clearfix">
      <li class="map-group" *ngFor="let item of apiFootResponse$ | async">
        <p>{{ item.Title }}</p>
        <ul *ngIf="item.Children">
          <li class="map-item" *ngFor="let subItem of item.Children">
            <!-- Not redirective URL -->
            <a
              le
              *ngIf="
                subItem.Link.indexOf('http') !== 0 &&
                subItem.Link !== 'news?tab=news' &&
                subItem.Link !== 'news?tab=events'
              "
              [routerLink]="
                '/' + this.translateService.nowLangCode + '/' + subItem.Link
              "
            >
              {{ subItem.Title }}
            </a>
            <!-- Redirective 2C URL -->
            <a
              *ngIf="subItem.Link.indexOf('www.xyz') === 8"
              [href]="
                'https://www.xyzprinting.com/' +
                this.translateService.nowLangCode
              "
            >
              {{ subItem.Title }}
            </a>
            <!-- Redirective Support URL -->
            <a
              *ngIf="subItem.Link.indexOf('support') === 28"
              [href]="
                'https://pro.xyzprinting.com/support/' +
                this.translateService.nowLangCode +
                '/EndUser/Help'
              "
            >
              {{ subItem.Title }}
            </a>
            <!-- Redirective Account URL -->
            <a
              *ngIf="subItem.Link.indexOf('account') === 8"
              [href]="subItem.Link"
            >
              {{ subItem.Title }}
            </a>
            <!-- News URL -->
            <a
              le
              *ngIf="subItem.Link === 'news?tab=news'"
              [routerLink]="'/' + this.translateService.nowLangCode + '/news'"
              [queryParams]="{ tab: 'news' }"
            >
              {{ subItem.Title }}
            </a>
            <!-- Events URL -->
            <a
              le
              *ngIf="subItem.Link === 'news?tab=events'"
              [routerLink]="'/' + this.translateService.nowLangCode + '/news'"
              [queryParams]="{ tab: 'events' }"
            >
              {{ subItem.Title }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="clearfix bottom-wrap">
      <div class="foot_logo element-inlineb">
        <a [routerLink]="'/' + this.translateService.nowLangCode + '/home'">
          <img
            src="https://twportal.blob.core.windows.net/images-xyzprinting/b2b/header/img_logo_sm.png"
            alt=""
          />
        </a>
        <p class="slogan">{{ "footer.logoSlogan" | translate }}</p>
      </div>
      <ul class="company element-inlineb">
        <li>
          <span class="copyright"> {{ "footer.copyright" | translate }}</span>
        </li>
        <li>
          <a [routerLink]="'/' + this.translateService.nowLangCode + '/policy'">
            {{ "footer.policy" | translate }}
          </a>
          <a
            [routerLink]="
              '/' + this.translateService.nowLangCode + '/terms-of-use'
            "
          >
            {{ "footer.termsOfUse" | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
