<div id="MfgPro230_xS" ng-controller="productPageCtrl">
  <div class="section sec1 font_c_w">
    <!-- video block -->
    <div class="video_bg">
      <video
        class="video_block"
        playsinline=""
        autoplay=""
        loop=""
        muted=""
        poster="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/MfgPro230_xS/video/video_PP230update.png"
      >
        <source
          type="video/mp4"
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/MfgPro230_xS/video/PP230update.mp4"
        />
      </video>
    </div>

    <!-- text content -->
    <div class="container">
      <div class="intro">
        <!-- title -->
        <div class="title" data-aos="fade-down">
          {{ "mfgpro230.sec1.name" | translate }}
        </div>
        <div
          class="title_bold"
          [innerHTML]="'mfgpro230.sec1.title' | translate"
        ></div>
        <!-- dec -->
        <div
          *ngIf="langCode != 'fr-FR' && langCode != 'de-DE'"
          class="desc"
          [innerHTML]="'mfgpro230.sec1.desc' | translate"
        ></div>
        <div
          *ngIf="langCode == 'fr-FR' || langCode == 'de-DE'"
          class="desc_EU"
          [innerHTML]="'mfgpro230.sec1.desc' | translate"
        ></div>
        <!-- btn -->
        <!-- How to buy  START *********************-->
        <a
          class="btn-download"
          [href]="'/' + langCode + '/contact-us'"
          target="_blank"
        >
          {{ "btn.howToBuy" | translate }}
        </a>
      </div>
    </div>
  </div>

  <div class="section sec2 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'mfgpro230.sec2.title' | translate"
        ></div>
        <div
          *ngIf="langCode != 'ko-KR'"
          class="desc"
          [innerHTML]="'mfgpro230.sec2.desc' | translate"
        ></div>
        <div
          *ngIf="langCode == 'ko-KR'"
          class="desc_KR"
          [innerHTML]="'mfgpro230.sec2.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec3 font_c_b">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'mfgpro230.sec3.title' | translate"
        ></div>
        <div
          *ngIf="langCode != 'ko-KR'"
          class="desc"
          [innerHTML]="'mfgpro230.sec3.desc' | translate"
        ></div>
        <div
          *ngIf="langCode == 'ko-KR'"
          class="desc_KR"
          [innerHTML]="'mfgpro230.sec3.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec4 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'mfgpro230.sec4.title' | translate"
        ></div>
        <div
          *ngIf="langCode != 'ko-KR'"
          class="desc"
          [innerHTML]="'mfgpro230.sec4.desc' | translate"
        ></div>
        <div
          *ngIf="langCode == 'ko-KR'"
          class="desc_KR"
          [innerHTML]="'mfgpro230.sec4.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec5 font_c_w">
    <div class="container">
      <div class="intro">
        <div
          class="title"
          [innerHTML]="'mfgpro230.sec5.title' | translate"
        ></div>
        <div
          *ngIf="langCode != 'ko-KR'"
          class="desc"
          [innerHTML]="'mfgpro230.sec5.desc' | translate"
        ></div>
        <div
          *ngIf="langCode == 'ko-KR'"
          class="desc_KR"
          [innerHTML]="'mfgpro230.sec5.desc' | translate"
        ></div>
      </div>
    </div>
  </div>

  <div class="section sec6 font_c_w">
    <div class="container">
      <!-- Product Intro -->
      <div class="intro">
        <div class="intro_text">
          <p
            class="i_title"
            [innerHTML]="'mfgpro230.sec6.product.intro.dec1.title' | translate"
          ></p>
          <p
            class="i_dec"
            [innerHTML]="'mfgpro230.sec6.product.intro.dec1.name' | translate"
          ></p>
          <p class="line"></p>
          <p
            class="i_title"
            [innerHTML]="'mfgpro230.sec6.product.intro.dec2.title' | translate"
          ></p>
          <p
            class="i_dec"
            [innerHTML]="'mfgpro230.sec6.product.intro.dec2.name' | translate"
          ></p>
          <p class="line"></p>
          <p
            class="i_title"
            [innerHTML]="'mfgpro230.sec6.product.intro.dec3.title' | translate"
          ></p>
          <p
            class="i_dec"
            [innerHTML]="'mfgpro230.sec6.product.intro.dec3.name' | translate"
          ></p>
          <p class="line"></p>
          <p
            class="i_title"
            [innerHTML]="'mfgpro230.sec6.product.intro.dec4.title' | translate"
          ></p>
          <p
            class="i_dec"
            [innerHTML]="'mfgpro230.sec6.product.intro.dec4.name' | translate"
          ></p>
        </div>

        <!-- Download btn  START *********************-->
        <a
          *ngIf="langCode == 'en-US' || langCode == 'en-GB'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SLS/MfgPro230%20xS/MfgPro230%20xS_spec_en.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'ja-JP'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SLS/MfgPro230%20xS/MfgPro230%20xS_spec_jp.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'fr-FR'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SLS/MfgPro230%20xS/MfgPro230%20xS_spec_fr.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'zh-TW'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SLS/MfgPro230%20xS/MfgPro230%20xS_spec_tw.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'zh-CN'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SLS/MfgPro230%20xS/MfgPro230%20xS_spec_cn.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'ko-KR'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SLS/MfgPro230%20xS/MfgPro230%20xS_spec_kr.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <a
          *ngIf="langCode == 'de-DE'"
          class="moreBtn-red btn_bottom"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Printers/SLS/MfgPro230%20xS/MfgPro230%20xS_spec_de.pdf"
          target="_blank"
        >
          {{ "btn.downloadSpecs" | translate }}
        </a>
        <!-- Download btn  END *********************-->
      </div>

      <!-- Product img -->
      <div class="product_img">
        <img
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/MfgPro230_xS/MfgPro230_xS.png"
          alt=""
        />
        <h4
          class="product_name"
          [innerHTML]="'mfgpro230.sec6.product.name' | translate"
        ></h4>
        <div class="btn_group">
          <!-- BTN Software hide 20190914 -->
          <!-- <a class="moreBtn-red btn-right" href="#">
                        @Messages.get("btn.software")
                    </a> -->

          <!-- video button START *********-->
          <a
            *ngIf="langCode == 'en-US' || langCode == 'en-GB'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/en-US/Help/tutorial/MfgPro230%20xS"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'ja-JP'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/ja-JP/Help/tutorial/MfgPro230%20xS"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'fr-FR'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/fr-FR/Help/tutorial/MfgPro230%20xS"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'zh-TW'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/zh-TW/Help/tutorial/MfgPro230%20xS"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'zh-CN'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/zh-CN/Help/tutorial/MfgPro230%20xS"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'ko-KR'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/ko-KR/Help/tutorial/MfgPro230%20xS"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <a
            *ngIf="langCode == 'de-DE'"
            class="moreBtn-black btn"
            href="https://pro.xyzprinting.com/support/de-DE/Help/tutorial/MfgPro230%20xS"
            target="_blank"
          >
            {{ "btn.video" | translate }}
          </a>
          <!-- video button END *********-->
        </div>
      </div>
    </div>
  </div>
</div>
