<p>header work</p>
<p>{{ "Hello" | translate }}</p>

<p>{{ "partpro100.section1.desc" | translate }}</p>
<h2 [innerHTML]="'partpro120.sec6.product.intro.dec2.name' | translate"></h2>
<div [innerHTML]="'class' | translate"></div>

<select
  name="lang"
  id=""
  (change)="this.translateService.switchLang($event.target.value)"
>
  <option selected value="Lang" aria-placeholder="seleced">Lang</option>
  <option value="{{ item }}" *ngFor="let item of langs">{{ item }}</option>
</select>

<!-- header start ***************************************************************-->
<header
  id="header"
  class="page-header"
  (window:resize)="this.reizeService.onResize($event)"
>
  <div class="page1100 relative">
    <!-- switch desk or mobile -->
    <div
      class="burgerBtn is-pointer"
      (click)="showMenu_mb = !showMenu_mb"
      [ngClass]="{ 'showMenu-mb': showMenu_mb }"
    ></div>

    <!-- topMenu start **************************-->
    <div class="top-menu">
      <!--  Reseller Resources  -->
      <a
        *ngIf="!this.reizeService.mobile_mode"
        [href]="
          'https://pro.xyzprinting.com/support/' +
          this.translateService.nowLangCode +
          '/Help'
        "
        class="reseller-site ng-scope"
      >
        {{ "header.resellerSite" | translate }}
      </a>

      <!-- lang Select -->
      <div class="lang-switch" (mouseleave)="showLang = false">
        <div class="lang-item currentLang is-pointer" (click)="showLang = true">
          US-English
        </div>
        <ul class="lang-list" [ngClass]="{ showLang: showLang }">
          <li
            *ngFor="let item of langs"
            class="lang-item is-pointer"
            (click)="
              this.translateService.switchLang($event.target.textContent.trim())
            "
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>

    <!-- topMenu end **************************-->

    <!-- Logo start **************************-->
    <div class="logo">
      <a [routerLink]="'/' + this.translateService.nowLangCode + '/home'">
        <img
          [src]="
            mobile_mode
              ? 'https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/logo/header_logo_m.png'
              : 'https://twportal.blob.core.windows.net/images-xyzprinting/b2b/header/img_logo_lg.png'
          "
          alt="xyzpriniting_logo"
        />
      </a>
    </div>
    <!-- Logo end **************************-->

    <!-- desk nav start **************************-->
    <nav class="main_menu_lg">
      <ul class="clearfix menu-item-wrap">
        <!-- Printers -->
        <li
          class="menu-item"
          *ngFor="let item of headMenuLists; let i = index"
          [ngClass]="{
            'has-subMenu': item.subMenu,
            pcHover: mobile_mode,
            menu_item_active: _menu_item_active === item.ID
          }"
          (mouseenter)="_menu_item_active = item.ID"
          (mouseleave)="_menu_item_active = null"
        >
          <!-- Not redirective URL -->
          <a
            *ngIf="item.Link.indexOf('http') !== 0"
            [routerLink]="
              item.Link.length !== 0
                ? '/' + this.translateService.nowLangCode + '/' + item.Link
                : ''
            "
            [ngClass]="{ printer_kind: item.Children }"
          >
            {{ item.Title }}
          </a>
          <!-- Redirective Support URL -->
          <a
            *ngIf="item.Link.indexOf('support') === 28"
            [href]="
              'https://pro.xyzprinting.com/support/' +
              this.translateService.nowLangCode +
              '/EndUser/Help'
            "
            [ngClass]="{ printer_kind: item.Children }"
            >{{ item.Title }}</a
          >
          <!-- dropdown sub-menu level one ul -->
          <ul class="sub-menu" *ngIf="item.Children">
            <li
              class="sub_product_li"
              *ngFor="let subItem of item.Children"
              [ngClass]="{
                'has-subMenu': subItem.productSubMenu,
                pcHover: mobile_mode,
                showSubMenu_mb: showSubMenu_mb,
                sub_product_active: _sub_product_active === subItem.ID
              }"
              (mouseenter)="_sub_product_active = subItem.ID"
              (mouseleave)="_sub_product_active = null"
            >
              <a
                class="sub_product_a"
                [routerLink]="
                  subItem.Link.length !== 0
                    ? '/' +
                      this.translateService.nowLangCode +
                      '/' +
                      subItem.Link
                    : ''
                "
              >
                {{ subItem.Title }}
                <span *ngIf="subItem.Children" class="icon_arrow"></span>
                <sup class="type_sup" *ngIf="subItem.type">{{
                  subItem.type
                }}</sup>
              </a>
              <!-- dropdown sub-menu level two ul -->
              <ul *ngIf="subItem.Children" class="product_sub_menu">
                <li
                  class="product_sub_li"
                  *ngFor="let proSubItem of subItem.Children"
                >
                  <a
                    class="product_sub_a"
                    [routerLink]="
                      '/' +
                      this.translateService.nowLangCode +
                      '/' +
                      proSubItem.Link
                    "
                    ng-bind="proSubItem.Title"
                  >
                    {{ proSubItem.Title }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- desk nav end **************************-->

    <!-- mobile nav start **************************-->
    <nav class="main_menu_mb" [class.showMenu-mb]="showMenu_mb">
      <ul class="clearfix menu_item_wrap_mb">
        <!-- Printers -->
        <li
          class="menu-item"
          *ngFor="let item of headMenuLists"
          [ngClass]="{
            'has-subMenu': item.subMenu,
            menu_item_active: _menu_item_active
          }"
        >
          <!-- Not redirective URL & Redirective Support URL -->
          <a
            class="a_block"
            [routerLink]="
              item.Link.length === 0
                ? ''
                : item.Link.indexOf('support') === 28
                ? 'https://pro.xyzprinting.com/support/' +
                  this.translateService.nowLangCode +
                  '/EndUser/Help'
                : '/' + this.translateService.nowLangCode + '/' + item.Link
            "
            [ngClass]="{ printer_kind: true }"
            (click)="_menu_item_active = !_menu_item_active"
          >
            {{ item.Title }}
          </a>
          <!-- dropdown sub-menu level one ul -->
          <ul class="sub-menu" *ngIf="item.Children">
            <li
              class="sub_product_li"
              *ngFor="let subItem of item.Children"
              [ngClass]="{
                'has-subMenu': subItem.Children,
                sub_product_active: _sub_product_active === subItem.ID
              }"
            >
              <a
                class="sub_product_a"
                [routerLink]="
                  subItem.Link.length !== 0
                    ? '/' +
                      this.translateService.nowLangCode +
                      '/' +
                      subItem.Link
                    : ''
                "
                (click)="_sub_product_active = subItem.ID"
              >
                {{ subItem.Title }}
                <span *ngIf="subItem.Children" class="icon_arrow"></span>
                <sup class="type_sup" *ngIf="subItem.type">{{
                  subItem.type
                }}</sup>
              </a>
              <!-- dropdown sub-menu level two ul -->
              <ul class="product_sub_menu" *ngIf="subItem.Children">
                <li
                  class="product_sub_menu_li"
                  *ngFor="let proSubItem of subItem.Children"
                >
                  <a
                    class="product_sub_menu_a"
                    [routerLink]="
                      '/' +
                      this.translateService.nowLangCode +
                      '/' +
                      proSubItem.Link
                    "
                    ng-bind="proSubItem.Title"
                    (click)="showMenu_mb = !showMenu_mb"
                    >{{ proSubItem.Title }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- mobile Reseller Resources -->
        <li class="menu-item lang-switch" *ngIf="mobile_mode">
          <a
            class="mobile_lang_switch"
            [href]="
              'https://pro.xyzprinting.com/support/' +
              this.translateService.nowLangCode +
              '/Help'
            "
          >
            {{ "header.resellerSite" | translate }}
          </a>
        </li>

        <!-- mobile lang-select -->
        <li
          class="menu-item lang-switch"
          *ngIf="mobile_mode"
          [ngClass]="{
            'has-subMenu': true,
            menu_item_active: _menu_item_active
          }"
          (click)="_menu_item_active = !_menu_item_active"
        >
          <a class="mobile_lang_switch">
            {{ "header.language" | translate }}
            <span class="currentLang is-pointer" ng-bind="currentLang"></span>
            <span class="icon_arrow"></span>
          </a>
          <ul class="sub-menu lang-list">
            <li
              *ngFor="let item of headLangLists"
              class="lang_list_item is-pointer"
            >
              <a (click)="switchLang(item.ValA)">{{ item.ValB }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- mobile nav end **************************-->
  </div>
</header>

<!-- header End ***************************************************************-->

<!-- <ul class="head">
  <ul>
    <ul>
      Binder_Jetting
      <li>
        <a routerLink="/zh-TW/product/Binder_Jetting/PartPro350_xBC">
          PartPro350_xBC
        </a>
      </li>
    </ul>

    <ul>
      Color_fff
      <li>
        <a routerLink="/zh-TW/product/Color_fff/PartPro200_xTCS">
          PartPro200_xTCS
        </a>
      </li>
    </ul>

    <ul>
      DLP
      <li>
        <a routerLink="/zh-TW/product/DLP/CastPro100_xP">
          CastPro100_xP
        </a>
      </li>
      <li>
        <a routerLink="/zh-TW/product/DLP/PartPro120_xP">
          PartPro120_xP
        </a>
      </li>
      <li>
        <a routerLink="/zh-TW/product/DLP/PartPro100_xP">
          PartPro100_xP
        </a>
      </li>
    </ul>

    <ul>
      FFF
      <li>
        <a routerLink="/zh-TW/product/FFF/PartPro300_xT">
          PartPro300_xT
        </a>
      </li>
    </ul>

    <ul>
      SLS
      <li>
        <a routerLink="/zh-TW/product/SLS/MfgPro230_xS">
          MfgPro230_xS
        </a>
      </li>
    </ul>

    <ul>
      SL
      <li>
        <a routerLink="/zh-TW/product/SL/partPro150_xp">
          partPro150_xp
        </a>
      </li>
    </ul>

    <ul>
      UV_Curing
      <li>
        <a routerLink="/zh-TW/product/UV_Curing/EeezCure180">
          EeezCure180
        </a>
      </li>
      <li>
        <a routerLink="/zh-TW/product/UV_Curing/MultiCure180">
          MultiCure180
        </a>
      </li>
    </ul>
  </ul>

  <ul>
    <ul>
      materials
      <li>
        <a routerLink="/materials/filament">
          Filament
        </a>
      </li>
      <li>
        <a routerLink="/materials/resin">
          Resin
        </a>
      </li>
    </ul>
  </ul>

  <ul>
    <ul>
      Application
      <li>
        <a routerLink="/casestudy">
          casestudy
        </a>
      </li>
    </ul>
  </ul>

  <li><a [routerLink]="['/support']">Support</a></li>
  <li><a [routerLink]="['/contact']">contact</a></li>
</ul> -->
