<!-- <p>header work</p>
<p>{{ "Hello" | translate }}</p>

<p>{{ "partpro100.section1.desc" | translate }}</p>
<h2 [innerHTML]="'partpro120.sec6.product.intro.dec2.name' | translate"></h2>
<div [innerHTML]="'class' | translate"></div>

<select
  name="lang"
  activ=""
  (change)="this.translateService.switchLang($event.target.value)"
>
  <option selected value="Lang" aria-placeholder="seleced">Lang</option>
  <option value="{{ item }}" *ngFor="let item of langs">{{ item }}</option>
</select> -->

<!-- header start ***************************************************************-->
<header
  activ="header"
  class="page-header"
  (window:resize)="this.reizeService.onResize($event)"
>
  <div class="page1100 relative">
    <!-- switch desk or mobile -->
    <div
      class="burgerBtn is-pointer"
      (click)="showMenu_mb = !showMenu_mb"
      [ngClass]="{ 'showMenu-mb': showMenu_mb }"
    ></div>

    <!-- topMenu start **************************-->
    <div class="top-menu">
      <!--  Reseller Resources  -->
      <a
        *ngIf="!this.reizeService.mobile_mode"
        [href]="
          'https://pro.xyzprinting.com/support/' +
          this.translateService.nowLangCode +
          '/Help'
        "
        class="reseller-site ng-scope"
      >
        {{ "header.resellerSite" | translate }}
      </a>

      <!-- lang Select -->
      <div class="lang-switch" (mouseleave)="showLang = false">
        <div class="lang-item currentLang is-pointer" (click)="showLang = true">
          {{ showMenuLangCode }}
        </div>
        <ul class="lang-list" [ngClass]="{ showLang: showLang }">
          <li
            *ngFor="let item of langs"
            class="lang-item is-pointer"
            (click)="
              this.translateService.switchLang($event.target.textContent.trim())
            "
          >
            {{ item.ValB }}
          </li>
        </ul>
      </div>
    </div>

    <!-- topMenu end **************************-->

    <!-- Logo start **************************-->
    <div class="logo">
      <a [routerLink]="'/' + this.translateService.nowLangCode + '/home'">
        <img
          [src]="
            mobile_mode
              ? 'https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/logo/header_logo_m.png'
              : 'https://twportal.blob.core.windows.net/images-xyzprinting/b2b/header/img_logo_lg.png'
          "
          alt="xyzpriniting_logo"
        />
      </a>
    </div>
    <!-- Logo end **************************-->

    <!-- desk nav start **************************-->
    <nav class="main_menu_lg">
      <ul class="clearfix menu-item-wrap">
        <!-- Printers -->
        <li
          class="menu-item"
          *ngFor="let item of headMenuLists; let i = index"
          [ngClass]="{
            'has-subMenu': item.subMenu,
            pcHover: mobile_mode,
            menu_item_active: menuItemActive === item.ID
          }"
          (mouseenter)="menuItemActive = item.ID"
          (mouseleave)="menuItemActive = null"
        >
          <!-- Not redirective URL -->
          <a
            *ngIf="item.Link.indexOf('http') !== 0"
            [routerLink]="
              item.Link.length !== 0
                ? '/' + this.translateService.nowLangCode + '/' + item.Link
                : '/' + this.translateService.nowLangCode + '/' + '/home'
            "
            [ngClass]="{ printer_kind: item.Children }"
          >
            {{ item.Title }}
          </a>
          <!-- Redirective Support URL -->
          <a
            *ngIf="item.Link.indexOf('support') === 28"
            [href]="
              'https://pro.xyzprinting.com/support/' +
              this.translateService.nowLangCode +
              '/EndUser/Help'
            "
            [ngClass]="{ printer_kind: item.Children }"
            >{{ item.Title }}
          </a>
          <!-- dropdown sub-menu level one ul -->
          <ul class="sub-menu" *ngIf="item.Children">
            <li
              class="sub_product_li"
              *ngFor="let subItem of item.Children"
              [ngClass]="{
                'has-subMenu': subItem.productSubMenu,
                pcHover: mobile_mode,
                showSubMenu_mb: showSubMenu_mb,
                sub_product_active: subProductActive === subItem.ID
              }"
              (mouseenter)="subProductActive = subItem.ID"
              (mouseleave)="subProductActive = null"
            >
              <a
                class="sub_product_a"
                [routerLink]="
                  subItem.Link.length !== 0
                    ? '/' +
                      this.translateService.nowLangCode +
                      '/' +
                      subItem.Link
                    : '/' + this.translateService.nowLangCode + '/home'
                "
              >
                {{ subItem.Title }}
                <span *ngIf="subItem.Children" class="icon_arrow"></span>
                <sup class="type_sup" *ngIf="subItem.type">{{
                  subItem.type
                }}</sup>
              </a>
              <!-- dropdown sub-menu level two ul -->
              <ul *ngIf="subItem.Children" class="product_sub_menu">
                <li
                  class="product_sub_li"
                  *ngFor="let proSubItem of subItem.Children"
                >
                  <a
                    class="product_sub_a"
                    [routerLink]="
                      '/' +
                      this.translateService.nowLangCode +
                      '/' +
                      proSubItem.Link
                    "
                    ng-bind="proSubItem.Title"
                  >
                    {{ proSubItem.Title }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- desk nav end **************************-->

    <!-- mobile nav start **************************-->
    <nav class="main_menu_mb" [class.showMenu-mb]="showMenu_mb">
      <ul class="clearfix menu_item_wrap_mb">
        <!-- Printers -->
        <li
          class="menu-item"
          *ngFor="let item of headMenuLists"
          [ngClass]="{
            'has-subMenu': item.subMenu,
            menu_item_active: item.activ
          }"
        >
          <!-- Not redirective URL & Redirective Support URL -->
          <a
            class="a_block"
            [routerLink]="
              item.Link.length === 0
                ? '/' + this.translateService.nowLangCode + '/' + '/home'
                : item.Link.indexOf('support') === 28
                ? '/support/' +
                  this.translateService.nowLangCode +
                  '/EndUser/Help'
                : '/' + this.translateService.nowLangCode + '/' + item.Link
            "
            [ngClass]="{ printer_kind: item.Children }"
            (click)="switchMobileSubmenu(item)"
          >
            {{ item.Title }}
          </a>
          <!-- dropdown sub-menu level one ul -->
          <ul class="sub-menu" *ngIf="item.Children">
            <li
              class="sub_product_li"
              *ngFor="let subItem of item.Children"
              [ngClass]="{
                'has-subMenu': subItem.Children,
                sub_product_active: subItem.activ
              }"
            >
              <a
                class="sub_product_a"
                [routerLink]="
                  subItem.Link.length !== 0
                    ? '/' +
                      this.translateService.nowLangCode +
                      '/' +
                      subItem.Link
                    : '/' + this.translateService.nowLangCode + '/home'
                "
                (click)="checkMobileMenuChildren(subItem, item)"
              >
                {{ subItem.Title }}
                <span *ngIf="subItem.Children" class="icon_arrow"></span>
                <sup class="type_sup" *ngIf="subItem.type">{{
                  subItem.type
                }}</sup>
              </a>
              <!-- dropdown sub-menu level two ul -->
              <ul class="product_sub_menu" *ngIf="subItem.Children">
                <li
                  class="product_sub_menu_li"
                  *ngFor="let proSubItem of subItem.Children"
                >
                  <a
                    class="product_sub_menu_a"
                    [routerLink]="
                      '/' +
                      this.translateService.nowLangCode +
                      '/' +
                      proSubItem.Link
                    "
                    ng-bind="proSubItem.Title"
                    (click)="
                      showMenu_mb = !showMenu_mb;
                      subItem.activ = !subItem.activ;
                      item.activ = !item.activ
                    "
                    >{{ proSubItem.Title }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- mobile Reseller Resources -->
        <li class="menu-item lang-switch" *ngIf="mobile_mode">
          <a
            class="mobile_lang_switch"
            [href]="
              'https://pro.xyzprinting.com/support/' +
              this.translateService.nowLangCode +
              '/Help'
            "
          >
            {{ "header.resellerSite" | translate }}
          </a>
        </li>

        <!-- mobile lang-select -->
        <li
          class="menu-item lang-switch"
          *ngIf="mobile_mode"
          [ngClass]="{
            'has-subMenu': true,
            menu_item_active: menuItemActive
          }"
          (click)="menuItemActive = !menuItemActive"
        >
          <a class="mobile_lang_switch">
            {{ "header.language" | translate }}
            <span class="currentLang is-pointer" ng-bind="currentLang"></span>
            <span class="icon_arrow"></span>
          </a>
          <ul class="sub-menu lang-list">
            <li *ngFor="let item of langs" class="lang_list_item is-pointer">
              <a
                (click)="
                  this.translateService.switchLang(
                    $event.target.textContent.trim()
                  )
                "
                >{{ item.ValB }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- mobile nav end **************************-->
  </div>
</header>

<!-- header End ***************************************************************-->
