<!-- <p>story works!</p> -->
<div class="page-static-content story">
  <div class="top-banner v-align-center">
    <div class="w_1100">
      <div class="w_550">
        <h1 class="primary-title">{{ "story.topArea.title" | translate }}</h1>
        <p class="desc">{{ "story.topArea.desc" | translate }}</p>
      </div>
    </div>
  </div>
  <section>
    <h2 class="desc-title">{{ "story.section1.title" | translate }}</h2>
    <p class="desc">{{ "story.section1.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "story.section2.title" | translate }}</h2>
    <p class="desc">{{ "story.section2.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "story.section3.title" | translate }}</h2>
    <p class="desc">{{ "story.section3.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "story.section4.title" | translate }}</h2>
    <p class="desc">{{ "story.section4.desc" | translate }}</p>
  </section>
</div>
