<div class="casestudy">
  <!-- Start banner block -->
  <div class="banner relative">
    <!-- banner image -->
    <div class="banner-image-wrap">
      <figure
        class="banner-image"
        [style.background-image]="
          this.resizeService.imgSize === 'lg'
            ? apiCaseStudyMainContentObject.desktopBarBg
            : apiCaseStudyMainContentObject.mobileBarBg
        "
      ></figure>
      <!-- banner text content -->
      <div class="banner-content page960-max absolute text-center">
        <h1 class="banner-title element-inlineb">
          {{ apiCaseStudyMainContentObject.barTitle }}
        </h1>
        <div [innerHTML]="apiCaseStudyMainContentObject.barContent"></div>
      </div>
      <!-- End banner block -->
    </div>

    <!-- Start customized editor -->
    <div class="unreset page960-max customerEdit">
      <div [innerHTML]="apiCaseStudyMainContentObject.introduction"></div>
      <div
        class="Stories"
        [innerHTML]="apiCaseStudyMainContentObject.mainContent"
      ></div>

      <!-- btn group -->
      <a
        [href]="apiCaseStudyMainContentObject.bindProdDownloadCaseStudy"
        class="download_caseStudy"
        *ngIf="apiCaseStudyMainContentObject.bindProdDownloadCaseStudy !== ''"
        >{{ "btn.downloadCaseStudy" | translate }}
      </a>
    </div>
    <!-- End customized editor -->

    <!-- Star related product -->
    <div
      class="bottom-banner"
      *ngFor="let item of apiCaseStudyProduct$ | async"
    >
      <div class="page800 clearfix">
        <img class="float-left" src="{{ item.Img }}" alt="" />
        <div class="infor float-right">
          <p class="note-for-title" [innerHTML]="item.SubTitle"></p>
          <p class="primary-title" [innerHTML]="item.Title"></p>
          <p class="desc" [innerHTML]="item.Content"></p>

          <!-- btn group -->
          <div class="btns">
            <a
              href="{{ item.LeamMoreLink }}"
              class="moreBtn-black"
              target="{{ item.LM_Target }}"
              *ngIf="item.LeamMoreLink !== ''"
              >{{ "btn.learnMore" | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End related product -->
  </div>
</div>
