<div id="filament">
  <!-- filament START----------------------->
  <div class="section sec_01">
    <img
      class="type_img"
      src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/sec01_pro_lg.png"
      alt=""
    />
    <h1
      class="type_name f_36"
      [innerHTML]="'materialFilament.section1.title' | translate"
    ></h1>
    <p
      class="describe f_16"
      [innerHTML]="'materialFilament.section1.dec' | translate"
    ></p>
  </div>
  <!-- filament END----------------------->

  <!-- Tab Menu START--------------------->
  <div class="tab_menu">
    <ul class="tab_ul">
      <li>
        <a
          [ngxScrollTo]="'#type_01'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.01' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_02'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.02' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_03'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.03' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_04'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.04' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_05'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.05' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_06'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.06' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_07'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.07' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_08'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.08' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_09'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.09' | translate"
        >
        </a>
      </li>
      <li>
        <a
          [ngxScrollTo]="'#type_10'"
          [ngxScrollToOffset]="isScrollOffset"
          class="link"
          [innerHTML]="'materialFilament.tab.10' | translate"
        >
        </a>
      </li>
    </ul>
  </div>
  <!-- Tab Menu END----------------------->

  <!-- ABS START----------------------->
  <div id="type_01" class="section sec_02 font_c_w">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec02_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section2.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section2.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_p_r color_box" style="background: #fff;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div
                class="color_p_r color_box"
                style="background: rgba(255, 255, 255, 0.5);"
              >
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #000000;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #d50032;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #eedc00;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #0067b9;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #00965e;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #825dc7;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #ed8b00;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- ABS END----------------------->

  <!-- PLA START----------------------->
  <div id="type_02" class="section sec_03 font_c_b">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec03_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section3.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section3.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
              <span>
                /
              </span>
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/Color_fff/PartPro200_xTCS'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp200' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_p_r color_box" style="background: #fff;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r model_color_opacity">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #000000;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div
                class="color_p_r color_box"
                style="background: rgba(250, 224, 83, 0.5);"
              >
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div
                class="color_p_r color_box"
                style="background: rgba(239, 66, 111, 0.5);"
              >
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div
                class="color_p_r color_box"
                style="background: rgba(0, 171, 142, 0.5);"
              >
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div
                class="color_p_r color_box"
                style="background: rgba(0, 94, 184, 0.5);"
              >
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div
                class="color_p_r color_box"
                style="background: rgba(254, 80, 0, 0.5);"
              >
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #44d62c;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #000087;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #ffb81c;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #007a3e;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #d50032;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #9ea9b0;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #6558b1;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
              <div class="color_p_r color_box" style="background: #d72685;">
                <!-- <div class="color_title">
                  @Messages.get("materialResin.section2.colorBox_01")
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- PLA END----------------------->

  <!-- Tough PLA START----------------------->
  <div id="type_03" class="section sec_04 font_c_w">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec04_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section4.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section4.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
              <span>
                /
              </span>
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/Color_fff/PartPro200_xTCS'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp200' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_box" style="background: #fff;"></div>
              <div class="color_box" style="background: #000000;"></div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- Tough PLA END------------------------->

  <!-- PETG START----------------------->
  <div id="type_04" class="section sec_05 font_c_w">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec05_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section5.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section5.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
              <span>
                /
              </span>
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/Color_fff/PartPro200_xTCS'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp200' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div
                class="color_box"
                style="background: rgba(0, 94, 184, 0.7);"
              ></div>
              <div
                class="color_box"
                style="background: rgba(254, 80, 0, 0.7);"
              ></div>
              <div
                class="color_box"
                style="background: rgba(239, 66, 111, 0.7);"
              ></div>
              <div class="model_color_opacity"></div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- PETG END------------------------->

  <!-- Premium Metallic PLA START----------------------->
  <div id="type_05" class="section sec_06 font_c_w">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec06_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section6.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section6.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
              <span>
                /
              </span>
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/Color_fff/PartPro200_xTCS'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp200' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_box" style="background: #994f29;"></div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- Premium Metallic PLA END------------------------->

  <!-- XYZ Carbon Fiber START----------------------->
  <div id="type_06" class="section sec_07 font_c_b">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec07_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section7.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section7.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
              <span>
                /
              </span>
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/Color_fff/PartPro200_xTCS'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp200' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_box" style="background: #000000;"></div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- XYZ Carbon Fiber END------------------------->

  <!-- 3D Color-Inkjet PLA START----------------------->
  <div id="type_07" class="section sec_08 font_c_w">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec08_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section8.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section8.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/Color_fff/PartPro200_xTCS'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp200' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_box" style="background: #ffffff;"></div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <!-- <a class="btn_download" href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf" target="_blank">
                    [innerHTML]="'btn.downloadDatasheet' | translate"
                </a> -->
      </div>
    </div>
  </div>
  <!-- 3D Color-Inkjet PLA END------------------------->

  <!-- PC START----------------------->
  <div id="type_08" class="section sec_09 font_c_w">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec09_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section9.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section9.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_box" style="background: #ffffff;"></div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- PC END------------------------->

  <!-- BVOH START----------------------->
  <div id="type_09" class="section sec_10 font_c_w">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec10_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section10.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section10.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_box" style="background: #ffffff;"></div>
            </div>
          </div>
        </div>

        <!-- Download btn -->
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- BVOH END------------------------->

  <!-- XYZ CF-PET START----------------------->
  <div id="type_10" class="section sec_11 font_c_b">
    <div class="w_1100 sec_flex">
      mobile show img
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec11_bg_sm.png"
        alt=""
      />
      description
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section11.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section11.dec' | translate"
        ></p>

        Color box
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_box" style="background: #000000;"></div>
            </div>
          </div>
        </div>

        Download btn
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- XYZ CF-PET END----------------------->

  <!-- XYZ CF-Nylon START----------------------->
  <div id="type_11" class="section sec_12 font_c_b">
    <div class="w_1100 sec_flex">
      <!-- mobile show img -->
      <img
        class="mobile_img"
        src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/Materials/filament/mobile/sec12_bg_sm.png"
        alt=""
      />
      <!-- description -->
      <div class="sec_des">
        <h1
          class="type_name f_36"
          [innerHTML]="'materialFilament.section12.title' | translate"
        ></h1>
        <p
          class="describe f_16"
          [innerHTML]="'materialFilament.section12.dec' | translate"
        ></p>

        <!-- Color box -->
        <div class="color_model">
          <p class="model_name">
            <span
              class="span_title"
              [innerHTML]="'materialFilament.model' | translate"
            >
            </span>
            <span class="span_text">
              <a
                class="model_link"
                [href]="'/' + langCode + '/product/FFF/PartPro300_xT'"
                target="_blank"
                [innerHTML]="'materialFilament.model.pp300' | translate"
              >
              </a>
            </span>
          </p>
          <div class="model_box">
            <p [innerHTML]="'materialFilament.color' | translate"></p>
            <div class="color_groups">
              <div class="color_box" style="background: #141414;"></div>
            </div>
          </div>
        </div>

        Download btn
        <a
          class="btn_download"
          href="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/PDF/Materials/Filament/Material%20Technical%20Data%20Sheet%20_EN.pdf"
          target="_blank"
          [innerHTML]="'btn.downloadDatasheet' | translate"
        >
        </a>
      </div>
    </div>
  </div>
  <!-- XYZ CF-Nylon END----------------------->
</div>
