<div _ngcontent-qpk-c18="" class="container-fluid">
  <div
    _ngcontent-qpk-c18=""
    class="d-sm-flex align-items-center justify-content-between mb-4"
  >
    <h1 _ngcontent-qpk-c18="" class="h3 mb-0 text-gray-800">Dashboard</h1>
    <h1>{{ "Hello" | translate: helloNames }}</h1>
    <a
      _ngcontent-qpk-c18=""
      href="#"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      ><i _ngcontent-qpk-c18="" class="fas fa-download fa-sm text-white-50"></i>
      Generate Report</a
    >
  </div>
  <div _ngcontent-qpk-c18="" class="row">
    <div _ngcontent-qpk-c18="" class="col-xl-3 col-md-6 mb-4">
      <div
        _ngcontent-qpk-c18=""
        class="card border-left-primary shadow h-100 py-2"
      >
        <div _ngcontent-qpk-c18="" class="card-body">
          <div _ngcontent-qpk-c18="" class="row no-gutters align-items-center">
            <div _ngcontent-qpk-c18="" class="col mr-2">
              <div
                _ngcontent-qpk-c18=""
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Earnings (Monthly)
              </div>
              <div
                _ngcontent-qpk-c18=""
                class="h5 mb-0 font-weight-bold text-gray-800"
              >
                $40,000
              </div>
            </div>
            <div _ngcontent-qpk-c18="" class="col-auto">
              <i
                _ngcontent-qpk-c18=""
                class="fas fa-calendar fa-2x text-gray-300"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-qpk-c18="" class="col-xl-3 col-md-6 mb-4">
      <div
        _ngcontent-qpk-c18=""
        class="card border-left-success shadow h-100 py-2"
      >
        <div _ngcontent-qpk-c18="" class="card-body">
          <div _ngcontent-qpk-c18="" class="row no-gutters align-items-center">
            <div _ngcontent-qpk-c18="" class="col mr-2">
              <div
                _ngcontent-qpk-c18=""
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Earnings (Annual)
              </div>
              <div
                _ngcontent-qpk-c18=""
                class="h5 mb-0 font-weight-bold text-gray-800"
              >
                $215,000
              </div>
            </div>
            <div _ngcontent-qpk-c18="" class="col-auto">
              <i
                _ngcontent-qpk-c18=""
                class="fas fa-dollar-sign fa-2x text-gray-300"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-qpk-c18="" class="col-xl-3 col-md-6 mb-4">
      <div
        _ngcontent-qpk-c18=""
        class="card border-left-info shadow h-100 py-2"
      >
        <div _ngcontent-qpk-c18="" class="card-body">
          <div _ngcontent-qpk-c18="" class="row no-gutters align-items-center">
            <div _ngcontent-qpk-c18="" class="col mr-2">
              <div
                _ngcontent-qpk-c18=""
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                Tasks
              </div>
              <div
                _ngcontent-qpk-c18=""
                class="row no-gutters align-items-center"
              >
                <div _ngcontent-qpk-c18="" class="col-auto">
                  <div
                    _ngcontent-qpk-c18=""
                    class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                  >
                    50%
                  </div>
                </div>
                <div _ngcontent-qpk-c18="" class="col">
                  <div _ngcontent-qpk-c18="" class="progress progress-sm mr-2">
                    <div
                      _ngcontent-qpk-c18=""
                      role="progressbar"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      class="progress-bar bg-info"
                      style="width: 50%;"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div _ngcontent-qpk-c18="" class="col-auto">
              <i
                _ngcontent-qpk-c18=""
                class="fas fa-clipboard-list fa-2x text-gray-300"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-qpk-c18="" class="col-xl-3 col-md-6 mb-4">
      <div
        _ngcontent-qpk-c18=""
        class="card border-left-warning shadow h-100 py-2"
      >
        <div _ngcontent-qpk-c18="" class="card-body">
          <div _ngcontent-qpk-c18="" class="row no-gutters align-items-center">
            <div _ngcontent-qpk-c18="" class="col mr-2">
              <div
                _ngcontent-qpk-c18=""
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Pending Requests
              </div>
              <div
                _ngcontent-qpk-c18=""
                class="h5 mb-0 font-weight-bold text-gray-800"
              >
                18
              </div>
            </div>
            <div _ngcontent-qpk-c18="" class="col-auto">
              <i
                _ngcontent-qpk-c18=""
                class="fas fa-comments fa-2x text-gray-300"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div _ngcontent-qpk-c18="" class="row">
    <div _ngcontent-qpk-c18="" class="col-xl-8 col-lg-7">
      <div _ngcontent-qpk-c18="" class="card shadow mb-4">
        <div
          _ngcontent-qpk-c18=""
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 _ngcontent-qpk-c18="" class="m-0 font-weight-bold text-primary">
            Earnings Overview
          </h6>
          <div _ngcontent-qpk-c18="" class="dropdown no-arrow">
            <a
              _ngcontent-qpk-c18=""
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              class="dropdown-toggle"
              ><i
                _ngcontent-qpk-c18=""
                class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"
              ></i
            ></a>
            <div
              _ngcontent-qpk-c18=""
              aria-labelledby="dropdownMenuLink"
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
            >
              <div _ngcontent-qpk-c18="" class="dropdown-header">
                Dropdown Header:
              </div>
              <a _ngcontent-qpk-c18="" href="#" class="dropdown-item">Action</a
              ><a _ngcontent-qpk-c18="" href="#" class="dropdown-item"
                >Another action</a
              >
              <div _ngcontent-qpk-c18="" class="dropdown-divider"></div>
              <a _ngcontent-qpk-c18="" href="#" class="dropdown-item"
                >Something else here</a
              >
            </div>
          </div>
        </div>
        <div _ngcontent-qpk-c18="" class="card-body">
          <div _ngcontent-qpk-c18="" class="chart-area">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <canvas
              _ngcontent-qpk-c18=""
              id="myAreaChart"
              style="display: block; height: 320px; width: 453px;"
              width="724"
              height="512"
              class="chartjs-render-monitor"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-qpk-c18="" class="col-xl-4 col-lg-5">
      <div _ngcontent-qpk-c18="" class="card shadow mb-4">
        <div
          _ngcontent-qpk-c18=""
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 _ngcontent-qpk-c18="" class="m-0 font-weight-bold text-primary">
            Revenue Sources
          </h6>
          <div _ngcontent-qpk-c18="" class="dropdown no-arrow">
            <a
              _ngcontent-qpk-c18=""
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              class="dropdown-toggle"
              ><i
                _ngcontent-qpk-c18=""
                class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"
              ></i
            ></a>
            <div
              _ngcontent-qpk-c18=""
              aria-labelledby="dropdownMenuLink"
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
            >
              <div _ngcontent-qpk-c18="" class="dropdown-header">
                Dropdown Header:
              </div>
              <a _ngcontent-qpk-c18="" href="#" class="dropdown-item">Action</a
              ><a _ngcontent-qpk-c18="" href="#" class="dropdown-item"
                >Another action</a
              >
              <div _ngcontent-qpk-c18="" class="dropdown-divider"></div>
              <a _ngcontent-qpk-c18="" href="#" class="dropdown-item"
                >Something else here</a
              >
            </div>
          </div>
        </div>
        <div _ngcontent-qpk-c18="" class="card-body">
          <div _ngcontent-qpk-c18="" class="chart-pie pt-4 pb-2">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <canvas
              _ngcontent-qpk-c18=""
              id="myPieChart"
              width="488"
              height="393"
              class="chartjs-render-monitor"
              style="display: block; height: 246px; width: 305px;"
            ></canvas>
          </div>
          <div _ngcontent-qpk-c18="" class="mt-4 text-center small">
            <span _ngcontent-qpk-c18="" class="mr-2"
              ><i _ngcontent-qpk-c18="" class="fas fa-circle text-primary"></i>
              Direct </span
            ><span _ngcontent-qpk-c18="" class="mr-2"
              ><i _ngcontent-qpk-c18="" class="fas fa-circle text-success"></i>
              Social </span
            ><span _ngcontent-qpk-c18="" class="mr-2"
              ><i _ngcontent-qpk-c18="" class="fas fa-circle text-info"></i>
              Referral
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div _ngcontent-qpk-c18="" class="row">
    <div _ngcontent-qpk-c18="" class="col-lg-6 mb-4">
      <div _ngcontent-qpk-c18="" class="card shadow mb-4">
        <div _ngcontent-qpk-c18="" class="card-header py-3">
          <h6 _ngcontent-qpk-c18="" class="m-0 font-weight-bold text-primary">
            Projects
          </h6>
        </div>
        <div _ngcontent-qpk-c18="" class="card-body">
          <h4 _ngcontent-qpk-c18="" class="small font-weight-bold">
            Server Migration
            <span _ngcontent-qpk-c18="" class="float-right">20%</span>
          </h4>
          <div _ngcontent-qpk-c18="" class="progress mb-4">
            <div
              _ngcontent-qpk-c18=""
              role="progressbar"
              aria-valuenow="20"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar bg-danger"
              style="width: 20%;"
            ></div>
          </div>
          <h4 _ngcontent-qpk-c18="" class="small font-weight-bold">
            Sales Tracking
            <span _ngcontent-qpk-c18="" class="float-right">40%</span>
          </h4>
          <div _ngcontent-qpk-c18="" class="progress mb-4">
            <div
              _ngcontent-qpk-c18=""
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar bg-warning"
              style="width: 40%;"
            ></div>
          </div>
          <h4 _ngcontent-qpk-c18="" class="small font-weight-bold">
            Customer Database
            <span _ngcontent-qpk-c18="" class="float-right">60%</span>
          </h4>
          <div _ngcontent-qpk-c18="" class="progress mb-4">
            <div
              _ngcontent-qpk-c18=""
              role="progressbar"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
              style="width: 60%;"
            ></div>
          </div>
          <h4 _ngcontent-qpk-c18="" class="small font-weight-bold">
            Payout Details
            <span _ngcontent-qpk-c18="" class="float-right">80%</span>
          </h4>
          <div _ngcontent-qpk-c18="" class="progress mb-4">
            <div
              _ngcontent-qpk-c18=""
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar bg-info"
              style="width: 80%;"
            ></div>
          </div>
          <h4 _ngcontent-qpk-c18="" class="small font-weight-bold">
            Account Setup
            <span _ngcontent-qpk-c18="" class="float-right">Complete!</span>
          </h4>
          <div _ngcontent-qpk-c18="" class="progress">
            <div
              _ngcontent-qpk-c18=""
              role="progressbar"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar bg-success"
              style="width: 100%;"
            ></div>
          </div>
        </div>
      </div>
      <div _ngcontent-qpk-c18="" class="row">
        <div _ngcontent-qpk-c18="" class="col-lg-6 mb-4">
          <div _ngcontent-qpk-c18="" class="card bg-primary text-white shadow">
            <div _ngcontent-qpk-c18="" class="card-body">
              Primary
              <div _ngcontent-qpk-c18="" class="text-white-50 small">
                #4e73df
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-qpk-c18="" class="col-lg-6 mb-4">
          <div _ngcontent-qpk-c18="" class="card bg-success text-white shadow">
            <div _ngcontent-qpk-c18="" class="card-body">
              Success
              <div _ngcontent-qpk-c18="" class="text-white-50 small">
                #1cc88a
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-qpk-c18="" class="col-lg-6 mb-4">
          <div _ngcontent-qpk-c18="" class="card bg-info text-white shadow">
            <div _ngcontent-qpk-c18="" class="card-body">
              Info
              <div _ngcontent-qpk-c18="" class="text-white-50 small">
                #36b9cc
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-qpk-c18="" class="col-lg-6 mb-4">
          <div _ngcontent-qpk-c18="" class="card bg-warning text-white shadow">
            <div _ngcontent-qpk-c18="" class="card-body">
              Warning
              <div _ngcontent-qpk-c18="" class="text-white-50 small">
                #f6c23e
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-qpk-c18="" class="col-lg-6 mb-4">
          <div _ngcontent-qpk-c18="" class="card bg-danger text-white shadow">
            <div _ngcontent-qpk-c18="" class="card-body">
              Danger
              <div _ngcontent-qpk-c18="" class="text-white-50 small">
                #e74a3b
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-qpk-c18="" class="col-lg-6 mb-4">
          <div
            _ngcontent-qpk-c18=""
            class="card bg-secondary text-white shadow"
          >
            <div _ngcontent-qpk-c18="" class="card-body">
              Secondary
              <div _ngcontent-qpk-c18="" class="text-white-50 small">
                #858796
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-qpk-c18="" class="col-lg-6 mb-4">
      <div _ngcontent-qpk-c18="" class="card shadow mb-4">
        <div _ngcontent-qpk-c18="" class="card-header py-3">
          <h6 _ngcontent-qpk-c18="" class="m-0 font-weight-bold text-primary">
            Illustrations
          </h6>
        </div>
        <div _ngcontent-qpk-c18="" class="card-body">
          <div _ngcontent-qpk-c18="" class="text-center">
            <img
              _ngcontent-qpk-c18=""
              src="assets/img/undraw_posting_photo.svg"
              alt=""
              class="img-fluid px-3 px-sm-4 mt-3 mb-4"
              style="width: 25rem;"
            />
          </div>

          <p _ngcontent-qpk-c18="">
            Add some quality, svg illustrations to your project courtesy of
            <a
              _ngcontent-qpk-c18=""
              target="_blank"
              rel="nofollow"
              href="https://undraw.co/"
              >unDraw</a
            >, a constantly updated collection of beautiful svg images that you
            can use completely free and without attribution!
          </p>
          <a
            _ngcontent-qpk-c18=""
            target="_blank"
            rel="nofollow"
            href="https://undraw.co/"
            >Browse Illustrations on unDraw →</a
          >
        </div>
      </div>
      <div _ngcontent-qpk-c18="" class="card shadow mb-4">
        <div _ngcontent-qpk-c18="" class="card-header py-3">
          <h6 _ngcontent-qpk-c18="" class="m-0 font-weight-bold text-primary">
            Development Approach
          </h6>
        </div>
        <div _ngcontent-qpk-c18="" class="card-body">
          <p _ngcontent-qpk-c18="">
            SB Admin 2 makes extensive use of Bootstrap 4 utility classes in
            order to reduce CSS bloat and poor page performance. Custom CSS
            classes are used to create custom components and custom utility
            classes.
          </p>
          <p _ngcontent-qpk-c18="" class="mb-0">
            Before working with this theme, you should become familiar with the
            Bootstrap framework, especially the utility classes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
