<div class="page-static-content termsofous">
  <h1 class="subtitle">{{ "termsOfUse.pageTitle" | translate }}</h1>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section1.title" | translate }}</h2>
    <p class="desc">
      <span>{{ "termsOfUse.section1.desc1_1" | translate }}</span>
      <span class="warn">{{ "termsOfUse.section1.desc1_2" | translate }}</span>
      <span>{{ "termsOfUse.section1.desc1_3" | translate }}</span>
    </p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section2.title" | translate }}</h2>
    <p class="desc">
      <span>{{ "termsOfUse.section2.desc1_1" | translate }}</span>
      <span>{{ "termsOfUse.section2.desc1_2" | translate }}</span>
    </p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section3.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section3.desc1" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section4.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section4.desc1_1" | translate }}</p>

    <p class="desc">{{ "termsOfUse.section4.desc1_2" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section5.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section5.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section6.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section6.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section7.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section7.desc1_1" | translate }}</p>
    <a
      [routerLink]="'/' + this.translateService.nowLangCode + '/policy'"
      class="line-btn"
      >{{ "termsOfUse.section7.desc1_2" | translate }}</a
    >
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section8.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section8.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section9.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section9.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section10.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section10.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section11.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section11.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section12.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section12.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section13.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section13.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section14.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section14.desc" | translate }}</p>
  </section>
  <section>
    <h2 class="desc-title">{{ "termsOfUse.section15.title" | translate }}</h2>
    <p class="desc">{{ "termsOfUse.section15.desc" | translate }}</p>
  </section>
</div>
