@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoint";
@import "../../assets/scss/component/buttons";

.page-static-content {
  margin-top: -120px;
  @include b768 {
    margin-top: 0;
  }
  .w_1100 {
    width: 1100px;
    margin: 0 auto;
    display: flex !important;
    justify-content: flex-end;
    @include b1279 {
      width: 100%;
      justify-content: center;
    }
  }
  .w_550 {
    width: 550px;
    @include b768 {
      width: 100%;
    }
  }
  section {
    max-width: 800px;
    padding: 30px 20px 10px;
    margin: auto;
  }
  .top-banner {
    color: white;
    font-size: 0;
    figure {
      display: inline-block;
      width: 50%;
      height: 400px;
      vertical-align: top;
    }
  }
  .v-align-center {
    text-align: left;
    & > div {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }

  // page policy & termsofous **************
  &.policy,
  &.termsofous {
    background-color: $color-gray_d1d1;
    margin-top: -120px;
    padding-top: 120px;
    padding-bottom: 40px;
    section {
      padding: 20px 20px 0px;
    }
    .subtitle {
      max-width: 800px;
      padding: 30px 20px 10px;
      margin: auto;
    }
    .desc {
      margin-bottom: 15px;
    }
    span {
      display: block;
    }
  }
  &.termsofous {
    .line-btn {
      @include line-btn($color-red, $color-red-light);
      padding: 0;
      font-weight: 400;
    }
    .warn {
      color: $color-red;
    }
  }

  @include mediaQueries(mobile) {
    .top-banner {
      height: auto;
      line-height: normal;
      background: none;
      figure {
        display: block;
        width: 100%;
        height: 0;
        padding-top: 67.6%;
      }
    }
  }
}
