<div class="index-content">
  <!-- swiper slider -->
  <swiper [config]="config">
    <div class="swiper-wrapper" id="banner">
      <a
        class="swiper-slide"
        *ngFor="let item of bannerLists"
        [routerLink]="item.moreBtn_link"
      >
        <!-- slide bg img -->
        <img
          *ngIf="item.bgImg"
          class="bg"
          [src]="item.bgImg + this.resizeService.imgSize + item.bgImgFormat"
        />

        <!-- slide video -->
        <div *ngIf="item.video" class="video-bg">
          <video
            *ngIf="item.video_bg"
            id="first-video"
            playsinline=""
            autoplay=""
            loop=""
            muted=""
            [attr.checked]="item.video_bg"
          >
            <source type="video/mp4" [src]="item.video" />
          </video>
        </div>

        <!-- slide video_info text-center -->
        <div *ngIf="item.video" class="page1100 reset-inlineblock div-content">
          <!-- product pic -->
          <figure class="element-inlineb" *ngIf="item.img">
            <img Class="blockSpace" [src]="item.img" />
          </figure>
          <!-- porduct info font -->
          <div class="element-inlineb carousel-content">
            <h2
              class="note-for-title"
              [innerHTML]="item.productName | translate"
            ></h2>
            <h3 class="primary-title" [innerHTML]="item.title | translate"></h3>
            <p class="desc" [innerHTML]="item.desc | translate"></p>
          </div>
        </div>

        <!-- slide img_info text-left -->
        <div
          *ngIf="!item.video"
          class="page1100 reset-inlineblock div-content img-content"
        >
          <!-- product pic -->
          <figure class="element-inlineb" *ngIf="item.img">
            <img [ngClass]="{ blockSpace: !item.img }" [src]="item.img" />
          </figure>
          <!-- porduct info font -->
          <div class="element-inlineb text-left">
            <h2
              class="note-for-title"
              [innerHTML]="item.productName | translate"
            ></h2>
            <h3 class="primary-title" [innerHTML]="item.title | translate"></h3>
            <p class="desc"></p>
          </div>
        </div>
      </a>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

  <!-- Application -->
  <div class="prototyping font_c_w" ng-if="lang == 'en-US' || lang == 'en-GB'">
    <div class="w_1100 application">
      <div class="textWrap">
        <h2 class="primary-title_KR">
          {{ "index.prototype.title" | translate }}
        </h2>
        <h4 class="note-for-title">
          {{ "index.prototype.product" | translate }}
        </h4>
        <p
          class="primary-title"
          [innerHTML]="'index.prototype.desc' | translate"
        ></p>
        <a
          [routerLink]="
            '/' +
            this.translateService.nowLangCode +
            '/casestudy/MfgPro230_xS_LeardonSolutions'
          "
          class="moreBtn"
        >
          {{ "index.prototype.moreBtn" | translate }}
        </a>
      </div>
      <div class="application_img">
        <img
          src="https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/index/index_application_product.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <!-- News and Event -->
  <div class="news-and-event clearfix">
    <div class="w_1100 newsAndLook">
      <!-- News and Events -->
      <div class="news float-left col-6 mobile-col-12">
        <div class="textWrap">
          <h4 class="font_24">
            {{ "index.newAndEvent.title" | translate }}
          </h4>
          <!-- <h3 class="subtitle">@Html(Messages.get("index.news.subtitle" | translate }})</h3> -->
          <p class="desc">
            {{ "index.news.desc" | translate }}
          </p>
          <div class="btns">
            <a
              [routerLink]="'/' + this.translateService.nowLangCode + '/news'"
              [queryParams]="{ tab: 'news' }"
              class="moreBtn"
            >
              {{ "index.news.readBtn" | translate }}
            </a>
          </div>
        </div>
      </div>

      <!-- Looking For Something Feel Free To Ask. -->
      <div class="event float-right col-6 mobile-col-12">
        <div class="textWrap">
          <!-- <h4 class="desc-title">{{ "index.event.title" | translate }}</h4> -->
          <h3
            class="subtitle-event"
            [innerHTML]="'index.event.subtitle' | translate"
          ></h3>
          <p class="desc">{{ "index.event.desc" | translate }}</p>
          <div class="btns">
            <a
              [routerLink]="
                '/' + this.translateService.nowLangCode + '/contact-us'
              "
              class="moreBtn"
              ng-if="true"
            >
              {{ "btn.getInTouch" | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
