@import "variables";
@import "breakpoint";

// Partpro200 xTCS
#Partpro200 {
  margin: 0 auto;
  margin-top: -120px;
  line-height: 1.5;
  @include b768 {
    margin-top: 0;
  }

  // all section style
  .section {
    min-height: 500px;
    padding: 145px 0 160px 0;
    @include b1279 {
      padding: 145px 50px 160px 50px;
    }
    @include b768 {
      min-height: 650px;
      display: flex;
      align-items: flex-end;
      padding: 145px 20px 70px 20px;
    }
    > .container {
      width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      @include b1279 {
        width: 100%;
      }
      @include b768 {
        text-align: center;
      }
    }
    .intro {
      width: 50%;
      @include b768 {
        width: 100%;
      }
      .title {
        font-size: 36px;
        padding-bottom: 32px;
        font-weight: bold;
        @include b768 {
          font-size: 28px;
        }
      }
      .desc {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        @include b768 {
          font-size: 14px;
        }
      }
      .desc_KR {
        margin: auto;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
      }
    }
  }

  .btn-download {
    display: inline-block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 52px;
    line-height: 1.5;
    color: #fff;
    background-color: #cf1e1e;
  }

  .sec1 {
    padding: 40px 0 70px 0;
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro150_xP/sec01_bg_lg.jpg)
      center/ cover;
    @include b768 {
      background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro150_xP/mobile/sec01_bg_sm.jpg)
        center bottom / cover;
      padding: 55px 20px 65px 20px;
    }
    .container {
      line-height: 1.2;
      text-align: center;
      .intro {
        width: 100%;
        margin-top: 100px;
        @include b768 {
          margin-top: 0;
        }
        .title {
          font-size: 28px;
          font-weight: normal;
          padding-bottom: 20px;
          line-height: 1.2;
          font-weight: 200;
        }
        .title2,
        .title3 {
          font-size: 36px;
          // padding-bottom: 32px;
          line-height: 1.2;
          font-weight: 600;
          @include b768 {
            font-size: 28px;
          }
        }
        .desc,
        .desc1 {
          letter-spacing: 1px;
          max-width: 761px;
          margin: 0 auto;
          font-size: 16px;
          font-weight: 100;
          line-height: 25px;
        }
        .desc_EU {
          font-size: 14px;
          font-weight: 300;
          width: 56%;
          margin-left: 23%;
          padding-top: 2px;
          padding-bottom: 20px;
        }
      }
    }
    .sec01_printer {
      width: 290px;
      margin-bottom: 25px;
      @include b768 {
        width: 210px;
      }
    }
    .title2 {
      margin-bottom: 20px;
    }
  }

  .sec2 {
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro200_xTCS/sec02_bg_lg.jpg)
      center/ cover;
    padding: 80px 30px 110px 30px;
    @include b768 {
      background: #000000;
      padding: 0px 30px 60px 30px;
    }
    .container {
      justify-content: flex-end;
    }
    .sec2_img_pro_01,
    .sec2_img_pro_02 {
      display: none;
      @include b768 {
        width: 100%;
        display: inline-block;
      }
    }
    .title {
      @include b768 {
        padding: 30px 0;
      }
    }
    .sec02_img {
      display: inline-block;
      width: 100%;
      margin-top: 100px;
      @include b768 {
        display: none;
      }
    }
    .desc {
      margin-top: 30px;
    }
  }

  .sec3 {
    padding: 70px 30px 250px 30px;
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro200_xTCS/sec03_bg_lg.jpg)
      center/ cover;
    @include b768 {
      padding: 0;
      background: #d6d6d6;
    }
    .container {
      justify-content: flex-end;
      @include b768 {
        flex-wrap: wrap;
      }
      .title {
        @include b768 {
          padding: 30px 0 20px 0;
        }
      }
    }
    .sec3_img_pro_01 {
      display: none;
      @include b768 {
        width: 100%;
        display: inline-block;
      }
    }
    .intro {
      @include b768 {
        padding: 0 20px 40px 20px;
      }
    }
  }

  .sec4 {
    padding: 85px 30px 200px 30px;
    background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro200_xTCS/sec04_bg_lg.jpg)
      center / cover;
    @include b768 {
      padding: 70px 30px 410px 30px;
      background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro200_xTCS/mobile/sec04_bg_sm.jpg)
        center / cover;
    }
    .container {
      justify-content: flex-start;
      @include b768 {
        align-items: flex-start;
      }
      .intro {
        width: 45%;
        @include b768 {
          width: 100%;
        }
      }
    }
  }

  .sec5 {
    padding: 60px 30px 80px 30px;
    background: #666666;
    @include b768 {
      padding: 40px 20px 70px 20px;
    }
    .container {
      justify-content: center;
      text-align: center;
      @include b768 {
        flex-wrap: wrap;
      }
      .sec05_img {
        width: 50%;
        margin-right: 15px;
        @include b768 {
          width: 100%;
          margin-right: 0;
          margin-bottom: 50px;
        }
      }
      .sec5_img_pro_01 {
        display: none;
        @include b768 {
          width: 100%;
          display: block;
          margin-bottom: 40px;
        }
      }
      .intro {
        width: 100%;
      }
      .title {
        padding-bottom: 30px;
      }
      .desc {
        // display: none;
        position: relative;
        padding-bottom: 35%;
        line-height: initial;
        background: url(https://xyzwebsite.blob.core.windows.net/b2b-landing/renew-b2b-20190902/printers/PartPro200_xTCS/sec05_pro_lg.png)
          center / cover;
        @include b768 {
          display: block;
          text-align: left;
          padding: 0;
          background: transparent;
        }
      }
      .desc_01,
      .desc_02,
      .desc_03,
      .desc_04 {
        position: absolute;
        font-size: 16px;
        width: 300px;
        text-align: left;
        @include b768 {
          width: 100%;
          position: static;
        }
      }
      .desc_01 {
        left: px2percent(760, 1100);
        bottom: px2percent(990, 1100);
      }
      .desc_02 {
        left: px2percent(775, 1100);
        bottom: px2percent(215, 1100);
      }
      .desc_03 {
        left: px2percent(-10, 1100);
        bottom: px2percent(797, 1100);
      }
      .desc_04 {
        left: px2percent(-10, 1100);
        bottom: px2percent(158, 1100);
      }
    }
  }

  .sec6 {
    display: flex;
    align-items: center;
    min-height: 700px;
    padding: 100px 30px;
    width: 100%;
    background: -webkit-linear-gradient(#141414, #828282);
    background: -o-linear-gradient(#141414, #828282);
    background: -moz-linear-gradient(#141414, #828282);
    background: linear-gradient(#141414, #828282);
    .container {
      justify-content: space-between;
      align-items: stretch;
      @include b768 {
        flex-wrap: wrap;
      }
    }
    .line {
      display: inline-block;
      width: 248px;
      height: 1px;
      background-color: #fff;
    }
    .intro,
    .product_img {
      width: 50%;
      @include b768 {
        width: 100%;
      }
    }
    .moreBtn-red {
      background-color: #cf1e1e;
      font-size: 1rem;
      max-width: 450px;
      font-weight: bold;
      padding: 10px 25px;
      text-align: center;
      @include b768 {
        max-width: initial;
        min-width: 130px;
        margin-bottom: 20px;
      }
    }
    .moreBtn-black {
      display: inline-block;
      background-color: #141414;
      max-width: 200px;
      min-width: 130px;
      font-size: 1rem;
      font-weight: bold;
      padding: 10px 25px;
      text-align: center;
      @include b768 {
        max-width: initial;
        min-width: 130px;
      }
    }
    .intro {
      color: white;
      text-align: center;
      line-height: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include b768 {
        order: 1;
      }
      .intro_text {
        width: 100%;
        // transform: translateY(10%);
      }
      .i_title {
        font-size: 16px;
        font-weight: 300;
      }
      .i_dec {
        font-size: 24px;
        font-weight: bold;
      }
      .btn_bottom {
        align-self: flex-end;
        padding: 10px 25px;
        line-height: initial;
        margin-top: 36px;
      }
    }
    .product_img {
      text-align: center;
      color: #fff;
      align-self: flex-end;
      > img {
        max-width: 100%;
        width: 345px;
      }
      .product_name {
        font-size: 28px;
        margin-top: 36px;
        // margin-left: 80px;
      }
      .btn_group {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        @include b768 {
          flex-direction: column;
          align-items: center;
          margin-bottom: 25px;
        }
      }
      .btn-right {
        margin-right: 36px;
        @include b768 {
          margin-right: 0;
        }
      }
    }
  }
}
